<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Club Template - free css template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_wrapper">

    <div id="templatemo_header">
    	<a href="#">Club Runner</a>
    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current">Our Club</a></li>
            <li><a href="#">Events</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Tickets</a></li>
            <li><a href="#" class="last">Contact</a></li>
        </ul>    	
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_main">
    	
        <div id="templatemo_content">
        	
            <div class="content_box">
            	<h2>WELCOME TO OUR CLUB</h2>
                
            	<a href="#"><img class="image_wrapper image_fl" src="images/templatemo_image_01.jpg" alt="image 1" /></a>
              <h5>Suspendisse feugiasodales libero</h5>
                <p>Vivamus a velit. Cum sociis natoque penatibus et magnisis arturient montes, nascetur ridiculus mus. Curabitur quislitt quis tortor tincidunt aliquet.</p>
                <a class="float_r" href="#">Details...</a>
                
                <div class="clear h40"></div>
                
                <a href="#"><img class="image_wrapper image_fl" src="images/templatemo_image_02.jpg" alt="image 2" /></a>
                <h5>Quisque in diam a justo condimentum</h5>
                <p>Cum sociis natoque penatibus et magnis dis parturient mont nascetur ridiculus mus. Curabitur quis velit quis tortor tincidu nt aliquetus leo velit, convallis id, ultrices.</p>
                <a class="float_r" href="#">Details...</a>
                <div class="clear"></div>
            </div>	
            
            <div class="content_box">
            	<h2>CLUB SERVICES</h2>
                <ul class="tmo_list col_w250 float_l">
                	<li><a href="#">Cum sociis natoque penatibus</a></li>
                    <li><a href="#">Quisque iniaus a velium sociis</a></li>
                    <li><a href="#">Curabitur quis velit quis tortor</a></li>
                    <li><a href="#">Quisque in sto condimentum</a></li>
                    <li><a href="#">Vivamus leo velonvallis id</a></li>
				</ul>
                <ul class="tmo_list col_w250 float_r">
                	<li><a href="#">Gociis natoqupenatibus emagni</a></li>
                    <li><a href="#">Quisque rhoncus nulla quis</a></li>
                    <li><a href="#">Cum sociis natoque penatibus</a></li>
                    <li><a href="#">Magnis dis parturient mont</a></li>
				</ul>
            </div>
			        

        </div> <!-- end of content -->
        
        <div id="templatemo_sidebar">
        
        	<div class="sidebar_box">
            	<h2>Best Entertainment</h2>
                <p>Donec mollis aliquet ligula. Maecenas adip iscing elementum ipsum. Pellentesque vitae magna.</p>
                <ul class="tmo_list">
                	<li><a href="#">Sed nec esuspendisse a nibh</a></li>
                    <li><a href="#">Justo rhoncus volutpat</a></li>
                    <li><a href="#">Landit tincidunt</a></li>
                    <li><a href="#">Fvitae velit sed dumalesuada</a></li>
				</ul>
			</div>
            
            <div class="sidebar_box">
            	<h2>Latest DJ Mixes</h2>
                <ul class="tmo_list">
                	<li><a href="#">Fnatoque penatibus</a></li>
                    <li><a href="#">Met magnis dis parturient mont</a></li>
                    <li><a href="#">Pascetur ridiculus mus</a></li>
                    <li><a href="#">Curabitur quis velit quis</a></li>
                </ul>
            </div>
            
            <div class="sidebar_box last_box">
            	<a href="#"><img src="images/templatemo_banner.jpg" alt="image" /></a>
            </div>
            <br />
			<a href="http://validator.w3.org/check?uri=referer"><img style="border:0;width:88px;height:31px" src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" vspace="8" border="0" /></a> &nbsp;&nbsp;
            <a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px"  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" vspace="8" border="0" /></a>
            
        </div> <!-- end of sidebar -->
    
    </div> <!-- end of main -->
    
    <div id="templatemo_footer">
    	Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->| 
		Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; 
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
    </div> <!-- end of footer -->
    
</div> <!-- end of wrapper -->
<!-- templatemo 246 club -->
<!-- 
Club Template 
http://www.templatemo.com/preview/templatemo_246_club 
-->
</body>
</html>