<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Eye Candy - Free Website Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

		<script type="text/javascript" src="js/swfobject.js"></script>
		<script type="text/javascript">
			var flashvars = {};
			flashvars.xml_file = "photo_list.xml";
			var params = {};
			params.wmode = "transparent";
			var attributes = {};
			attributes.id = "slider";
			swfobject.embedSWF("flash_slider.swf", "flash_grid_slider", "940", "280", "9.0.0", false, flashvars, params, attributes);
		</script>
        
</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_header">

        <div id="site_title">
          <h1><a href="#"> <img src="images/templatemo_logo.png" alt="Eye Candy" /> </a></h1>
        </div>
    
    </div> <!-- end of header -->
    
    <div id="templatemo_menu">
    
        <ul>
            <li><a href="index.html" class="current">Home</a></li>
            <li><a href="news.html">Latest News</a></li>
            <li><a href="gallery.html">Photo Gallery</a></li>
            <li><a href="about.html">Our Company</a></li>
            <li><a href="contact.html" class="last">Contact</a></li>
        </ul>    	
    
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_slider">
			<div id="flash_grid_slider">
            	<a href="#">
                	Flash XML Grid Slider
                </a>
                <br /><br />
                <a href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
			</div>
    </div> <!-- end of slider -->
    
    <div id="templatemo_content">
    	
        <h1>Eye Candy Template</h1>
        <div class="image_wrapper fl_img">
	        <a href="#"><img src="images/templatemo_image_01.jpg" alt="image 1" /></a>        </div>
        <p align="justify">Eye Candy is a <a href="#">full-site 5 pages template</a> provided by <a href="#">templatemo</a>. You may download, edit, and apply this template for your websites. Credits go to <a href="#">Flash XML Image Slider</a> and <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for small thumbnails used in this template. Morbi sed nulla ac est cursus suscipit eu ac lectus. Curabitur  ullamcorper nibh nisi, sed eleifend dolor. Pellentesque adipiscing  sollicitudin sapien nec aliquet. Cras rutrum ullamcorper metus, vitae  consectetur dolor vulputate a. </p>
        <p align="justify">Sed nec eros egestas nisl tincidunt  aliquet at in est. In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris. Integer sed nisi sapien, ut gravida mauris. Nam et tellus libero. Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor. </p>
      <div class="cleaner_h40"></div>
        
        <div class="two_column float_l">
        
       	  <h3>Web Design Ideas</h3>
        	<p>In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris.</p>
            
            <ul>
                <li>Morbi sed nulla ac est cursus <a href="#">suscipit</a> eu ac lectus.</li>
                <li>Curabitur <a href="#">ullamcorper</a> nibh nisi, sed eleifend dolor. </li>
              <li>Pellentesque adipiscing <a href="#">sollicitudin</a> sapien nec aliquet.</li>
                <li>Cras rutrum ullamcorper metus,<a href="#"> vitae consectetur</a>.</li>
              <li>Sed nec eros <a href="#">egestas</a> nisl tincidunt aliquet at in est.</li>
          </ul>
        
        </div>
        
        <div class="two_column float_r">
        
        	<ul class="small_gallery">
            
            	<li><a href="#"><img src="images/templatemo_image_02.jpg" alt="image 2" /></a></li>
                
                <li><a href="#"><img src="images/templatemo_image_03.jpg" alt="image 3" /></a></li>
                
                <li><a href="#"><img src="images/templatemo_image_04.jpg" alt="image 4" /></a></li>
                
                <li><a href="#"><img src="images/templatemo_image_05.jpg" alt="image 5" /></a></li>
                
                <li><a href="#"><img src="images/templatemo_image_06.jpg" alt="image 6" /></a></li>
                
                <li><a href="#"><img src="images/templatemo_image_07.jpg" alt="image 7" /></a></li>
                
            </ul>
            
            <div class="cleaner_h30"></div>
            <div class="button"><a href="#">View all</a></div>
        
        </div>
    
    	<div class="cleaner"></div>
	</div> <!-- end of content -->
    
</div> <!-- end of wrapper -->

<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">
    
    	<div class="footer_box">
        
        	<h3>Partners</h3>
        
            <ul class="footer_menu">
                <li><a href="#">Free CSS Templates</a></li> 
                <li><a href="#">Free Flash Galleries</a></li>
                <li><a href="#">Website Templates</a></li>
                <li><a href="#">Web Design Blog</a></li>
                <li><a href="#">Best Flash Websites</a></li>               
            </ul>
        
        </div>
        
        <div class="footer_box">
            
                <h3>Navigation</h3>
    
                <ul class="footer_menu">
                    <li><a href="index.html">Homepage</a></li>
                    <li><a href="news.html">Latest News</a></li>
                    <li><a href="gallery.html">Photo Gallery</a></li>
                    <li><a href="about.html">Our Company</a></li>
                  	<li><a href="contact.html">Contact Us</a></li>
                </ul>

		</div>
        
        <div class="footer_box">
        
              <h3>About Us</h3>
    			
                <p> Nulla tellus risus, tincidunt vitae, sagittis vel, interdum at, erat. <a href="#">Duis vitae velit</a>. Ut ultricies. Fusce sollicitudin nisl a lectus. Sed leo. Duis suscipit lorem in risus. Fusce vulputate tellus ac felis. Praesent mauris. Quisque gravida faucibus ligula. Aliquam magna.</p>
                
                <div class="button"><a href="#">More</a></div>

      </div>
	
    	<div class="cleaner"></div>
    </div> <!-- end of footer -->
</div> <!-- end of footer wrapper -->    

<div id="templatemo_copyright_wrapper">

	<div id="templatemo_copyright">
    
		Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->| 
        Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; 
        		 <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
        
    </div> <!-- end of templatemo_copyright -->
    
</div> <!-- end of copyright wrapper -->
<!-- templatemo 253 eye candy -->
<!-- 
Eye Candy Template 
http://www.templatemo.com/preview/templatemo_253_eye_candy 
-->
</body>
</html>