<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free CSS Templates - Strawberry Website, Green, Red Color</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />            
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
	<div id="templatemo_container">
    	<div id="templatemo_header">
        	<div id="templatemo_logo_area">
            	<span class="red">STRAWBERRY</span> <span class="gray">WEBSITE</span>
                <div id="templatemo_slogan">
                	YOUR SLOGAN TEXT GOES HERE
                </div>
            </div>
            
            <div id="templatemo_menu">
				<ul>
                    <li class="current"><a href="#" ><b>HOME</b></a></li>
                    <li><a href="#"><b>PRODUCTS</b></a></li>
                    <li><a href="#"><b>SERVICES</b></a></li>
                    <li><a href="#"><b>GALLERY</b></a></li>
                    <li><a href="#"><b>COMPANY</b></a></li>
                    <li><a href="#"><b>CONTACT</b></a></li>
						
				</ul>
			</div>
        </div><!-- End OF Header -->
        
        <div id="templatemo_content">
        
	        <div id="templatemo_content_left">
            
            	<div id="templatemo_content_area">
                
                	<div class="templatemo_post_area">
                    
                    	<h1>WELCOME TO OUR WEBSITE</h1>
                        <p>This template is provided by <a href="#">Free CSS Templates</a>. You may use this template for any of your websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photo usage.</p>
<p><b>Lorem ipsum dolor sit amet,</b> consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim.</p>
<p><b>Donec mollis aliquet ligula,</b> maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum.</p>

                    </div>
                    
                    <div class="templatemo_left_line"></div>
                    
                    <div class="templatemo_post_area">
                    
                    	<h1>GALLERY OF THE WEEK</h1>
                        
                        <div class="templatemo_3_col">
                        	<a href="#"><img src="images/templatemo_thumb_1.jpg" alt="Spider" border="0" /></a>
                            <p>Prae sent id tell us. Etiam faucibus. Cum sociis natoque penatibus et magnis dis part urient mon tes, nas cetur ridi culus mus. </p>
                            <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam interdum erat id ipsum. Aenean fringilla tempus est.</p>
                        </div>
                        
          				<div class="templatemo_3_col">
                        	<a href="#"><img src="images/templatemo_thumb_2.jpg" alt="Car" border="0" /></a>
            				<p>Fusce enim elit, fermentum vel, tris tique sit amet, pos uere id, eros. Viva mus elem entum dign issim ne que. Sed gra vida, dolor at lob ortis com modo.</p>
                            <p>Lectus purus molestie libero, quis hendrerit odio turpis nec eros. Donec non magna quis nunc fri ngil la pos uere.</p>
                        </div>
                        
          				<div class="templatemo_3_col_last">
                        	<a href="#"><img src="images/templatemo_thumb_3.jpg" alt="Orchide" border="0" /></a>
            				<p>Maecenas aliquam ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque. Con sec tet uer adi pis cing elit.</p>
                            <p>Nu nc qu is sem nec tel lus blan dit tin cidunt. Duis vitae velit sed dui mal esu ada dig nissim.</p>
                        </div>
                        
                      <div class="cleaner"></div>
                    </div>
                    
                </div><!-- End OF Left Content Area -->
                
                <div id="templatemo_content_area_black">
                	<div class="templatemo_post_area_black">
                    	<h1>RECENT TESTIMONIALS</h1>
                        <h2>Maecenas venenatis metus eu est</h2>
                        <p>In sed risus ac felis varius bibendum. Nulla imperdiet congue metus. Vestibulum dapibus tortor vel orci. </p>
                        <h2>Cras semper, odio et placerat vestibulum</h2>
                        <p>augue urna placerat sem, id mollis elit quam quis velit. Ut vehicula cursus orci morbi porttitor est sed neque. Aliquam lorem elit, mollis eget.</p>
                    </div>
                </div><!-- End OF Left Content Area Black -->
                <div class="cleaner"></div>
        		<div id="templatemo_footer">
                	Copyright © 2024 <a href="#">Your Company Name</a> 
                    <!-- Credit: www.templatemo.com -->
                </div>
    	    </div><!-- End OF Left -->
            
            <div id="templatemo_content_right">
            	<div id="templatemo_content_right_top"></div>
                <div id="templatemo_content_right_mid">
                	<div class="templatemo_section">
	               		<div class="templatemo_section_title">
    	                	USEFUL RESOURCES
        	            </div>
                        <p>Lorem ipsum dolor sit amet, con sec tetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim.</p>
					</div>   
                                
                	<div class="templatemo_right_line"></div>
                    
                    <div class="templatemo_section">
                    	<div class="templatemo_section_title">
                        	FUTURE PLAN
                        </div>
	                        <p>Sus pen disse a nibh tris tique justo rhon cus volu tpat. Sus pen disse vitae neque eget ante tri stique ves tibu lum. Pe len tesque dolor nulla, congue vitae, fringilla in, varius a, orci.</p>
					</div>
                    
                    <div class="templatemo_right_line"></div>
                    
                    <div class="templatemo_section">
                    	<div class="templatemo_section_title">
                        	OUR PARTNERS
                        </div>
	                    <ul>
                        	<li><a href="#">Free CSS Templates</a></li>
                            <li><a href="#">Free Flash Templates</a></li>
                            <li><a href="#">Web Design Blog</a></li>
                            <li><a href="http://www.photovaco.com" target="_blank">Royalty Free Photos</a></li>
						</ul>
					</div>

                </div>
        	</div><!-- End OF Right -->
        </div><!-- End OF Content -->
    </div><!-- End OF Container -->
<!--  Free CSS Templates from www.templatemo.com -->   
<!-- templatemo 085 strawberry -->
<!-- 
Strawberry Template 
http://www.templatemo.com/preview/templatemo_085_strawberry 
--> 
</body>
</html>