<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Orange Spice Company - CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 308 orange spice -->
<!-- 
Orange Spice Template 
http://www.templatemo.com/preview/templatemo_308_orange_spice 
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_header">

	<div id="site_title">
        <a href="#">Orange Spice</a>
    </div> <!-- end of site_title -->
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="news.html">Latest News</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="company.html" class="current">Company</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>    	
    </div> <!-- end of templatemo_menu -->
    
    <div class="cleaner"></div>
</div> <!-- end of templatemo_header -->

<div id="templatemo_content">
	
    <div class="content_box">
    	<div class="col_w670">
        	<h2>Company Background</h2>
          	
            <img src="images/templatemo_image_07.jpg" alt="image" class="image_wrapper image_fl" />
          
            <p><em>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</em></p>
            
            <p align="justify">In ac libero urna. Suspendisse sed odio ut mi auctor blandit. Duis luctus nulla metus, a vulputate mauris. Integer sed nisi sapien, ut gravida mauris. Nam et tellus libero. Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor. Quisque nec nisl. Nam scelerisque cursus dolor. Integer vel sapien quis   risus egestas suscipit. Nam lorem tortor, viverra gravida, egestas id,   pellentesque in, mi. Maecenas sodales pede eu massa. Fusce lacinia orci   at nisi. Suspendisse at nisi nec diam pretium tincidunt. Ut vitae felis   eu lectus ultrices varius. Aliquam lacus turpis, dapibus eget, tincidunt   eu, lobortis et, magna. Integer pellentesque dignissim diam. Quisque   ornare pulvinar lorem.</p>
        	
            <img src="images/templatemo_image_08.jpg"  alt="image" class="image_wrapper image_fr" />
            
            <p align="justify">In hac habitasse platea dictumst. Fusce iaculis, ipsum eu congue tincidunt, nibh quam sagittis odio, a tincidunt nisl sem eu lectus. Suspendisse bibendum quam id purus consectetur laoreet. Aliquam luctus, magna ac faucibus tristique, est nisi commodo eros, non eleifend neque nulla ac tellus. Suspendisse sed odio velit, in pulvinar mi. Vestibulum elementum lectus non enim consectetur tempus. Vivamus ligula velit, eleifend non mollis id, hendrerit et leo. Curabitur tempus ultrices felis, tincidunt convallis nibh posuere id. </p>
            
            <div class="cleaner h30"></div>
            
            <h2>About Our Team</h2>
            
                <blockquote><p>Aenean eu aliquam erat. Ut commodo, nulla eu pellentesque mollis, odio ante condimentum augue, eget facilisis dui magna ut ligula. Quisque sit amet adipiscing libero. Donec et tellus vitae velit pharetra lobortis.</p></blockquote>
                <p>Suspendisse ac magna quis est eleifend dictum. In velit urna, convallis   id, pharetra in, iaculis sit amet, mi. Praesent consectetur imperdiet   mauris. Suspendisse at pede vel lorem pulvinar laoreet. Etiam et neque.   Donec dapibus viverra est. Maecenas dignissim, quam a posuere   scelerisque, ligula arcu dictum turpis, id tempus turpis erat at nulla.   Suspendisse hendrerit turpis id augue.</p>
            
      </div>
        
        <div class="col_w210 last_col">
        
        	<h3>Our Services</h3>
            
            <p><em>Nam dui enim, faucibus placerat pharetra at, venenatis eget arcu. Maecenas facilisis consequat diam non accumsan. Phasellus sed turpis magna.</em></p>
            
            <ul class="tmo_list">
                <li><a href="#">Risus sed fermentum</a></li>
              	<li><a href="#">Feugiat risus ligula</a></li>
                <li><a href="#">Suscipit dolor eget</a></li>
                <li><a href="#">Morbi sed vehicula augue</a></li>
                <li><a href="#">Vestibulum suscipit</a></li>
                <li><a href="#">Feugiat risus ligula</a></li>
            </ul>
            
            <a href="#" class="more">More<span>&raquo;</span></a>
            
            <div class="h50"></div>
            
            <div class="newsletter_box">
            
                <p>Enter your email address to subscribe our newsletter.</p>
                
                <form action="#" method="get">
                    <input type="text" value="" name="q" size="10" id="newsletter_email" title="Email address" />
                  	<input type="submit" name="Search" value="Subscribe" id="subscribe" title="Subscribe" />
                </form>
                
            </div>
            
        </div>
        
        <div class="cleaner"></div>
        
    </div>
    
    <div class="cleaner"></div>
</div> <!-- end of templatemo_content -->

<div id="templatemo_footer">

	<div id="footer_logo">
    	<a href="#"><img src="images/templatemo_logo_2.png" alt="Orange Spice" /></a>
      <p>Please contact us <a href="contact.html">here</a>.</p>
    </div>
    
  	<div id="footer_right">
    
	    <a href="index.html" class="current">Home</a> | 
        <a href="news.html">News</a> | 
        <a href="products.html">Products</a> | 
        <a href="company.html">Company</a> | 
        <a href="contact.html">Contact</a>
        <br /><br />
        
    	Copyright © 2048 <a href="#">Your Company Name</a>
    </div>
    
</div> <!-- end of templatemo_footer -->

</body>
</html>