<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Construction Template - Free CSS Website</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<!--  This layout is designed by w w w . t e m p l a t e m o . c o m  -->
</head>
<body>
<div id="templatemo_container">
  <div id="templatemo_title">CONSTRUCTION <span>COMPANY</span></div>
  <div id="templatemo_header">
    <div id="templatemo_slogan">HIGH QUALITY BUILDINGS</div>
  Curabitur nec odio. Phasellus tincidunt, tortor lacinia blandit commodo, nunc augue mattis eros, ut convallis est augue vel orci. Nunc ante erat, varius eu, luctus ac, tristique nec, justo. Fusce dignissim eros ac massa. Phasellus ligula augue, vestibulum in, cursus non, euismod et, pede.</div>
  <div id="templatemo_header_img"></div>
  <div id="templatemo_menu">
    <div class="templatemo_menulink">
      <ul>
        <li><a href="#" class="current">HOME</a></li>
        <li><a href="#">SERVICES</a></li>
        <li><a href="#">PROJECTS</a></li>
        <li><a href="#">CLIENTS</a></li>
        <li><a href="#">SOLUTIONS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </div>
  </div>
  <div id="templatemo_content_left">
    <h1>WELCOME TO OUR COMPANY</h1>
    <p>This is a free CSS template provided by <a href="#">TemplateMo.com</a>. You may apply this template for your websites.    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis   sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim.   Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum. Pellentesque   vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus   volutpat.</p>
    <p>Quisque in diam a justo condimentum molestie. Vivamus a velit. Cum sociis   natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.   Curabitur quis velit quis tortor tincidunt aliquet. Vivamus leo velit, convallis   id, ultrices sit amet, tempor a, libero. Quisque rhoncus nulla quis sem. Mauris   quis nulla sed ipsum pretium sagittis. Suspendisse feugiat. Ut sodales libero ut   odio.</p>
    <h2>OUR LATEST PROJECTS</h2>
    <p><img src="images/templatemo_photo1.jpg" alt="templatemo.com" width="189" height="87" /> &nbsp;&nbsp;&nbsp;&nbsp;<img src="images/templatemo_photo2.jpg" alt="templatemo.com" width="189" height="87" /></p>
    <p>Maecenas venenatis metus eu est. In sed risus ac felis varius bibendum. Nulla   imperdiet congue metus. Vestibulum dapibus tortor vel orci. Maecenas vulputate,   arcu id fermentum eleifend, tortor enim tincidunt mauris, fringilla tincidunt   purus urna vel risus. Fusce vulputate tellus ac felis. Praesent mauris.</p>
    <p>Aliquam tristique lacus in sapien. Suspendisse potenti. Ut sed pede. Nullam   vitae tellus. Sed ultrices. Lorem ipsum dolor sit amet, consectetuer adipiscing   elit. </p>
    <p><a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a></p>
  </div>
  <div id="templatemo_content_right">
    <p><img src="images/templatemo_photo3.jpg" alt="templatemo.com" width="259" height="210" /></p>
    <div id="templatemo_right_bot">
      <p><strong>LATEST NEWS &amp; UPDATES</strong></p>
      <div class="templatem_postdate">Post Date: 10-10-2020</div>
      <p>Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc. Nulla enim nibh, consectetuer sed, vestibulum elementum, sagittis nec, diam. Mauris blandit vehicula neque. Proin consectetuer.</p>
      <div class="templatem_postdate">Post Date: 2-10-2020</div>
      <p>Nullam pede purus, tempor a, imperdiet in, porttitor at, nulla. Aliquam elit risus, volutpat quis, mattis ac, elementum eget, mauris. In hac habitasse platea dictumst. </p>
    </div>
  </div>
  <div id="templatemo_footer">
    <div id="templatemo_footer_left">Copyright © Your Company Name <!-- Credit: www.templatemo.com --></div>
    <div id="templatemo_footer_right">
      <strong>QUICK CONTACT</strong><br />
        Tel: 000-100-1000<br />
        Fax: 000-300-3000<br />
      Email: info [at] company.com
    </div>
  </div>
</div>
<!--  This layout is designed by w w w . t e m p l a t e m o . c o m  -->

<!-- templatemo 035 construction -->
<!-- 
Construction Template 
http://www.templatemo.com/preview/templatemo_035_construction 
-->
</body>
</html>