<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free XHTML CSS Template, Blue Color, Free Download</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="templatemo_container">
    	<div id="templatemo_menu_bg">
        	<div id="templatemo_menu">
				<ul>
					<li class="current"><a href="#"><b>HOME</b></a></li>
                    <li><a href="#"><b>PROFILE</b></a></li>
      				<li><a href="#"><b>SERVICES</b></a></li>
   					<li><a href="#"><b>PRODUCTS</b></a></li>
                    <li><a href="#"><b>PARTNERS</b></a></li>	
   					<li><a href="#"><b>CONTACT</b></a></li>	
				</ul>
			</div>
        </div>
        <div id="templatemo_header">
        	<div id="templatemo_header_left">
                <div id="templatemo_logo">
                    <span class="white">FREE CSS </span><span class="yellow">TEMPLATE</span>
                </div>
                <div id="templatemo_news">
                	<p><a href="#">Lorem ipsum dolor sit amet</a>, conse ctetuer adipi scing elit. Nunc quis sem nec tellus blan dit tincidunt.</p>
 
<p><a href="#">Duis vitae velit sed</a> dui malesuada dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum ipsum.</p>
                </div>
		  </div>
            <div id="templatemo_header_img">
            	<img alt="Swan" src="images/templatemo_img_1.jpg" />
            </div>
      </div>
    	       
        <div id="templatemo_content_area">
        	<div id="templatemo_content_area_top">
            </div>
            <div id="templatemo_content_area_bottom">
				<div id="templatemo_content">
                	<div class="templatemo_onecol">
                    	<img src="images/templatemo_pic_1.png" alt="Picture" />
                    	<h1>Welcome to our website</h1>
                        
                      <p>This is a W3C compliant XHTML/CSS template provided by <a href="#">TemplateMo</a> for free of charge. You may apply this layout for your websites.  Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for the photos used in this template. Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque.</p>
                    </div><!-- end of one col -->
                    
                  <div class="templatemo_onecol">
                   	<div class="templatmo_twocol left">
                        	<div class="templatemo_twocol_top">
                            </div>
                            <div class="templatemo_twocol_mid">
                            	<p><a href="#">Pellentesque vitae magna.</a> Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum. Aenean cursus.</p><p> Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque.</p>
  <div class="templatemo_readmore right">
	                                <a href="#">Read More</a>
								</div>
                                <div class="cleaner"></div>
                            </div>
                            <div class="templatemo_twocol_bottom">
                            </div>
                    </div>
                        
                        <div class="templatmo_twocol right">
                        	<div class="templatemo_twocol_top">
                            </div>
                            <div class="templatemo_twocol_mid">
                            	<p><a href="#">Pellentesque dolor nulla</a>, congue vitae, fringilla in, varius a, orci. Mauris convallis. Proin vel libero id erat venenatis accumsan.</p>
                                <p>Nunc blandit orci sit amet risus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut iaculis lacinia purus.</p>
                                <div class="templatemo_readmore right">
                                	<a href="#">Read More</a>
                                </div>
                                <div class="cleaner"></div>
                            </div>
                            <div class="templatemo_twocol_bottom">
                            </div>
                        </div>
                        <div class="cleaner"></div>
                  </div><!-- end of one col -->
                  
                  <div class="templatemo_onecol">
                  		<div class="templatmo_threecol left">
                        	<div class="templatemo_threecol_top">
                            </div>
                            <div class="templatemo_threecol_mid">
                           	  <h1>PROJECT - I</h1>
                                <img src="images/templatemo_img_2.jpg" alt="Butterfly" />
                            	<p>Cum sociis natoque penatibus et mag nis dis part urient montes. Quis que in diam a justo cond imentum mole stie. Viva mus a velit.</p>
                                
                              <p>Nullam neque leo, elemen tum id tem pus nec, biben dum tinci dunt sapien. Proin vest ibulum laci nia ipsum euis mod ultrices. </p>
                                <div class="templatemo_readmore">
                                	<a href="#">Details</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="templatmo_threecol middle">
                        	<div class="templatemo_threecol_top">
                            </div>
                            <div class="templatemo_threecol_mid">
                           	  <h1>PROJECT - II</h1>
                              <img src="images/templatemo_img_3.jpg" alt="Bug" />
                              <div class="cleaner"></div>
                           	  <p>
                              Viva mus leo velit, convallis id, ultrices sit amet, tempor a, libero. Quisque rhoncus nulla quis sem. Mauris quis nulla sed ipsum pretium sagittis. Sus pen disse feugiat. </p>
                              <p>Aliq uam erat volutpat. Donec sit amet tortor, sed pulvinar libero. Ut tempus con secte tur dolor, sed vul put ate nul.</p>
                                <div class="templatemo_readmore">
                                	<a href="#">Details</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="templatmo_threecol right">
                        	<div class="templatemo_threecol_top">
                            </div>
                            <div class="templatemo_threecol_mid">
                           	  <h1>PROJECT - III</h1>
                              <img src="images/templatemo_img_4.jpg" alt="Insert" />
                              <div class="cleaner"></div>
                           	  <p>Phasellus tincidunt, tortor lacinia blandit commodo, nunc augue mattis eros, ut convallis est augue vel orci. Nunc ante erat, varius eu, luctus ac, tristique nec, justo. </p>
                           	   <p>
<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Transitional" width="88" height="31" border="0" /></a>
<a href="http://jigsaw.w3.org/css-validator/check/referer"><img style="border:0;width:88px;height:31px" alt="Valid CSS" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" /></a>
   							  </p>
                                    <div class="cleaner"></div> 

                                <div class="templatemo_readmore">
                                	<a href="#">Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="cleaner"></div>
                        
                  </div><!-- end of one col -->

                </div>
                <div class="cleaner"></div>
                <div id="templatemo_footer">
                	Copyright © 2024 <a href="#">Your Company Name</a> 
                    <!-- Credit: www.templatemo.com -->
                </div>
            </div><!-- End Of Contant area bottom -->
        </div><!-- End Of Contant area -->
    </div> 
    <!-- End Of Container -->
<!--  Free CSS Templates by www.TemplateMo.com  -->
<!-- templatemo 130 blue -->
<!-- 
Blue Template 
http://www.templatemo.com/preview/templatemo_130_blue 
-->
</body>
</html>