<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Wedding Store</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<div id="templatemo_wrapper_outter">

	<div id="templatemo_wrapper_inner">
    
    	<div id="templatemo_header">
    
            <div id="site_title">
            
                <h1><a href="#">
                    <img src="images/templatemo_logo.png" alt="CSS Templates" />
                    <span>free css templates</span>
                </a></h1>
                
            </div> <!-- end of site_title -->
    
    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_menu">
    
        <ul>
            <li><a href="#" class="current">Home</a></li>
            <li><a href="#">CSS Templates</a></li>
            <li><a href="#">Flash Files</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Company</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>    	
    
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_content_wrapper">
    
    	<div id="templatemo_sidebar_wrapper">
    
            <div id="templatemo_sidebar_top"></div>
            <div id="templatemo_sidebar">
            
                <h2>Our Services</h2>
                
                <ul class="categories_list">
                    <li><a href="#">Lorem ipsum dolor</a></li>
                    <li><a href="#">Phasellus eget lorem</a></li>
                    <li><a href="#">Sed sit amet sem</a></li>
                    <li><a href="#">Cras eget est vel</a></li>
                    <li><a href="#">Quisque in ligula</a></li>
                    <li><a href="#">Donec a massa dui</a></li>
                    <li><a href="#">Aenean facilisis</a></li>
                    <li><a href="#">Etiam vitae consequat</a></li>
                    <li><a href="#">Aliquam sollicitudin</a></li>
                    <li><a href="#">Nunc fermentum</a></li>
                </ul>
                
                <div class="cleaner_h30"></div>
                
                <h2>Newsletter</h2>
            
                <form action="#" method="get">
                    <label>Please enter your email address to subscribe our newsletter.</label>
                    <input type="text" value="" name="username" size="10" id="input_field" title="usernmae" />
                    <input type="submit" name="login" value="Subscribe" alt="login" id="submit_btn" title="Login" />
                </form>
                
                <div class="cleaner_h10"></div>
                
            </div>
            <div id="templatemo_sidebar_bottom"></div>
        
        </div>
    
		<div id="templatemo_content">
        
        	<div class="content_section">
        
                <h2>Welcome to our Website</h2>
                
                <div class="float_l_image">
	                <img src="images/templatemo_image_01.png" alt="image" />
                </div>
                
                <p>Free CSS Templates are provided by <a href="#">TemplateMo</a> for everyone. You can download, modify and apply any template for your own websites. Credits go to <a href="http://www.publicdomainpictures.net" target="_blank">Public Domain Pictures</a> and <a href="http://www.vectorvaco.com/">Free Vectors</a>.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet, ipsum bibendum pretium volutpat, diam magna facilisis ante, at lobortis nisl purus ac ipsum. Mauris purus augue, ullamcorper ac pharetra et, varius vitae sapien. Duis sed purus rutrum purus ultrices condimentum.</p>
                
            </div>
            
            <div class="content_section">
            
            	<div class="section_w260  float_l margin_r40">
                	
                    <h2>Gallery</h2>
                    
                    <ul class="gallery">
                    	<li><a href="#"><img src="images/templatemo_image_02.jpg" alt="image 1" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_03.jpg" alt="image 2" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_04.jpg" alt="image 3" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_05.jpg" alt="image 4" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_06.jpg" alt="image 5" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_07.jpg" alt="image 6" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_08.jpg" alt="image 7" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_09.jpg" alt="image 8" /></a></li>
                        <li><a href="#"><img src="images/templatemo_image_10.jpg" alt="image 9" /></a></li>
                   </ul>
                   
                   <div class="cleaner_h20"></div>
                   <div class="button_01"><a href="#">All Photos</a></div>
                    
                </div>
                
                <div class="section_w260 float_l">
                
                	<h2>Wedding Story</h2>
                    
                    <h3>Jack &amp; Lary</h3>
                    <p>Suspendisse adipiscing, mauris at pretium tincidunt, dui ligula venenatis odio, nec ultricies sapien felis in libero. Vivamus ut ante. Suspendisse rutrum ipsum est, sed iaculis.</p>
                    <div class="button_01"><a href="#">Read more</a></div>
                    
                    <div class="cleaner_h20"></div>
                    
                    <h3>John &amp; April</h3>
                    <p>Mauris dictum leo quis lacus venenatis at semper quam laoreet. Donec molestie libero id arcu laoreet ac consectetur enim blandit. Nulla ut nunc lorem, at porttitor nunc.</p>
                    <div class="button_01"><a href="#">Read more</a></div>
                
                </div>
                
                <div class="cleaner"></div>
            
            </div>
        
        </div>
        
        <div class="cleaner"></div>
    
    </div> <!-- end of templatemo_content_wrapper -->
    
    <div id="templatemo_footer">

        <ul class="footer_menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">CSS Templates</a></li>
            <li><a href="#">Flash Files</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Company</a></li>
            <li class="last_menu"><a href="#">Contact</a></li>
        </ul>
    
        Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->| 
        Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; 
        	  <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
    
    </div> <!-- end of footer -->
    
    </div> <!-- end of templatemo_wrapper_inner -->

</div> <!-- end of templatemo_wrapper_outter -->
<!-- templatemo 224 wedding store -->
<!-- 
Wedding Store Template 
http://www.templatemo.com/preview/templatemo_224_wedding_store 
-->
</body>
</html>