<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Aquatic Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 351 aquatic -->
<!-- 
Aquatic Template 
http://www.templatemo.com/preview/templatemo_351_aquatic 
-->
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="js/swfobject.js"></script>
<script type="text/javascript">
	var flashvars = {};
	flashvars.xml_file = "photo_list.xml";
	var params = {};
	params.wmode = "transparent";
	var attributes = {};
	attributes.id = "slider";
	swfobject.embedSWF("flash_slider.swf", "flash_grid_slider", "440", "220", "9.0.0", false, flashvars, params, attributes);			
</script>
        
<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
    
</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_header">
    
        <div id="site_title"><h1><a href="#">Aquatic Template</a></h1></div>
        
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html" class="selected">Home</a></li>
                <li><a href="about.html">About</a>
                    <ul>
                    	<li><a href="#submenu1">Sub menu 1</a></li>
                        <li><a href="#submenu2">Sub menu 2</a></li>
                        <li><a href="#submenu3">Sub menu 3</a></li>
                    </ul>
                </li>
                <li><a href="portfolio.html">Portfolio</a>
                    <ul>
                    	<li><a href="#submenu1">Sub menu 1</a></li>
                        <li><a href="#submenu2">Sub menu 2</a></li>
                        <li><a href="#submenu3">Sub menu 3</a></li>
                    </ul>
                </li>
                <li><a href="services.html">Services</a>
                    <ul>
                    	<li><a href="#submenu1">Sub menu 1</a></li>
                        <li><a href="#submenu2">Sub menu 2</a></li>
                        <li><a href="#submenu3">Sub menu 3</a></li>
                        <li><a href="#submenu4">Sub menu 4</a></li>
                        <li><a href="#submenu5">Sub menu 5</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of templatemo_menu -->
        <div class="cleaner"></div>
    </div> <!-- end of templatemo header -->
    
    <div id="templatemo_middle">
    	<div id="mid_slider">
        	<div id="flash_grid_slider">
                <a rel="nofollow" href="http://www.adobe.com/go/getflashplayer">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
			</div>
        </div>
        <div id="mid_left">
            <div id="mid_title">
                Integer blandit tellus quam
            </div>
            <p>Aliquam in odio ut ipsum mollis facilisis. Integer est sem, dignissim quis auctor vel, dapibus vel massa. Curabitur ligula vel mi semper tempus.</p>
            <div id="learn_more"><a href="#">Learn More</a></div>
	  	</div>
        <div class="cleaner"></div>
	</div> <!-- end of middle -->
    
    <div id="templatemo_main">
    	
        <div class="col_w900">
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Web Design</div>
                <img src="images/onebit_08.png" alt="Image 08" />
                <p>Credit goes to <a rel="nofollow" href="http://www.icojoy.com" target="_blank">icojoy.com</a> for Onebit icons #2 used in this template. Etiam vel elit massa, sit amet.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Advertising Media</div>
                <img src="images/onebit_15.png" alt="Image 05" />
                <p>Fusce quis felis in dolor tincidunt accumsan. Curabitur dignissim pharetra sollicitudin.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box col_last">
                <div class="con_tit_02">Online Marketing</div>
                <img src="images/onebit_16.png" alt="Image 06" />
                <p>Curabitur sed lectus id erat viverra consectetur nec in sapien. Morbi at justo justo, eu suscipit felis.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="cleaner h60"></div>
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Customer Services</div>
                <img src="images/onebit_17.png" alt="Image 01" />
                <p>Quisque quis leo sit amet dui elementum. Lorem ipsum dolor sit amet, consectetur arcu elit.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Java Training</div>
                <img src="images/onebit_18.png" alt="Image 02" />
                <p>Morbi pretium metus a tellus molestie id porttitor erat pulvinar. Nullam interdum ante felis.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box col_last">
                <div class="con_tit_02">Global Reaching</div>
                <img src="images/onebit_19.png" alt="Image 03" />
                <p>Suspendisse metus felis, varius at euismod eu, egestas eu elit ante ipsum primis in orci luctus.</p>
                <a class="more" href="#">Detail</a>
            </div>
                
            <div class="cleaner"></div>
        </div>

		<div class="col_w900  col_w900_last">
            <div class="con_tit_01">Introducing Aquatic Theme</div>
            <img src="images/templatemo_image_01.png" alt="Image 01" class="image_wrapper image_fl" />
            <p><em>Curabitur vestibulum ultricies nibh, sed faucibus magna semper at. Ut eget justo dolor, id porta augue. Sed mollis orci eu justo sagittis at hendrerit erat tempus.</em></p>
        	<p align="justify">Aquatic is free css template for your personal or commercial websites. Credit goes to <a rel="nofollow" href="http://www.brushking.eu/361/abstract-brush-pack-vol-7.html" target="_blank">Forty-winks</a> for Photoshop brushes. <strong>templatemo</strong> provides a lot of free website templates that can be used for any website. Quisque in diam a justo condimentum molestie. Vivamus leo velit, convallis id, ultrices sit amet, tempor a, libero. Quisque rhoncus nulla quis sem. Mauris quis nulla sed ipsum pretium sagittis. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>	
            <div class="cleaner"></div>
        </div>    
    	
    	<div class="cleaner"></div>
    </div> <!-- end of main -->

</div> <!-- wrapper -->

<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">
    	Copyright © 2048 <a href="#">Your Company Name</a>
        <div class="cleaner"></div>
	</div>
    
</div>

</body>
</html>