<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Aquatic - Services</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 351 aquatic -->
<!-- 
Aquatic Template 
http://www.templatemo.com/preview/templatemo_351_aquatic 
-->
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>
    
</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_header">
        
        <div id="site_title"><h1><a href="#">Aquatic Template</a></h1></div>
        
        <div id="templatemo_menu" class="ddsmoothmenu">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a>
                    <ul>
                    	<li><a href="#submenu1">Sub menu 1</a></li>
                        <li><a href="#submenu2">Sub menu 2</a></li>
                        <li><a href="#submenu3">Sub menu 3</a></li>
                    </ul>
                </li>
                <li><a href="portfolio.html">Portfolio</a>
                    <ul>
                    	<li><a href="#submenu1">Sub menu 1</a></li>
                        <li><a href="#submenu2">Sub menu 2</a></li>
                        <li><a href="#submenu3">Sub menu 3</a></li>
                    </ul>
                </li>
                <li><a href="services.html" class="selected">Services</a>
                    <ul>
                    	<li><a href="#submenu1">Sub menu 1</a></li>
                        <li><a href="#submenu2">Sub menu 2</a></li>
                        <li><a href="#submenu3">Sub menu 3</a></li>
                        <li><a href="#submenu4">Sub menu 4</a></li>
                        <li><a href="#submenu5">Sub menu 5</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <br style="clear: left" />
        </div> <!-- end of templatemo_menu -->
        <div class="cleaner"></div>
    </div> <!-- end of templatemo header -->
    
    <div id="templatemo_middle">
		<div id="mid_title">
                Proin Blandit Feugiat Nisl At Rutrum
        </div>
        <p>templatemo offers free website templates that can be applied for any website. Nam lobortis ante id quam volutpat convallis. Vivamus vel nunc nec tortor sagittis aliquam. Quisque leo dui, volutpat vitae fermentum a, cursus ut turpis. Praesent augue metus, sollicitudin sed placerat adipiscing, congue quis magna.</p>
        <div id="learn_more"><a href="#">Learn More</a></div>
        <div class="cleaner"></div>
	</div> <!-- end of middle -->
    
    <div id="templatemo_main">
    	
        <div class="col_w900">
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Web Design</div>
                <img src="images/onebit_08.png" alt="Image 08" />
                <p>Credit goes to <a rel="nofollow" href="http://www.icojoy.com" target="_blank">icojoy.com</a> for Onebit icons #2 used in this template. Etiam vel elit massa, sit amet.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Advertising Media</div>
                <img src="images/onebit_15.png" alt="Image 05" />
                <p>Fusce quis felis in dolor tincidunt accumsan. Curabitur dignissim pharetra sollicitudin.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box col_last">
                <div class="con_tit_02">Online Marketing</div>
                <img src="images/onebit_16.png" alt="Image 06" />
                <p>Curabitur sed lectus id erat viverra consectetur nec in sapien. Morbi at justo justo, eu suscipit felis.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="cleaner h60"></div>
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Customer Services</div>
                <img src="images/onebit_17.png" alt="Image 01" />
                <p>Quisque quis leo sit amet dui elementum. Lorem ipsum dolor sit amet, consectetur arcu elit.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box">
                <div class="con_tit_02">Java Training</div>
                <img src="images/onebit_18.png" alt="Image 02" />
                <p>Morbi pretium metus a tellus molestie id porttitor erat pulvinar. Nullam interdum ante felis.</p>
                <a class="more" href="#">Detail</a>
            </div>
            <div class="col_allw280 fp_service_box col_last">
                <div class="con_tit_02">Global Reaching</div>
                <img src="images/onebit_19.png" alt="Image 03" />
                <p>Suspendisse metus felis, varius at euismod eu, egestas eu elit ante ipsum primis in orci luctus.</p>
                <a class="more" href="#">Detail</a>
            </div>
                
            <div class="cleaner"></div>
        </div>

		<div class="col_w580 float_l">
        	
            <h2>Who We Are</h2>
       
            <div class="image_wrapper image_fl"><img src="images/templatemo_image_02.png" alt="Image 02" /></div>
            <h6>Pellentesque quis enim sit amet arcu tincidunt</h6>
            <p>Sed non nibh nec ipsum ultricies tempus. Mauris ornare, arcu eget mollis tristique, mi massa varius magna, vitae lacinia tortor est eu est. Vivamus <a href="#">nulla metus</a>, egestas sit amet commodo nec, ultrices vel lorem. In hac habitasse platea dictumst. Donec ac interdum sapien. Nunc adipiscing, justo orci eleifend turpis, vitae posuere libero nibh id risus. Curabitur id magna in nisl lacinia fringilla ac a mauris. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
            
        </div>
        <div class="col_w280 float_r">
        
            <h2>Testimonial</h2>
            <blockquote>
            <p>In vel augue purus, ut bibendum velit. Ut vitae massa at libero tristique euismod a eu leo. Nam lacinia dolor eros, elementum fringilla elit. Sed a lacus quis leo cursus. Pellentesque nec euismod blandit massa.</p>
            
            <cite><a href="#">John</a> - <span>Web Designer</span></cite>
            </blockquote>
        
        </div>  
    	
    	<div class="cleaner"></div>
    </div> <!-- end of main -->

</div> <!-- wrapper -->

<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">
    	Copyright © 2048 <a href="#">Your Company Name</a>
        <div class="cleaner"></div>
	</div>
    
</div>

</body>
</html>