<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Woody Template, Web Design, Free Download</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
        <div id="templatemo_container">
			<div id="templatemo_header">
            	<div id="templatemo_logo">                
                </div>
                
                <div id="templatemo_subscribe">
                	Subscribe:  <a href="#">Twitter</a> | <a href="#">RSS</a> | <a href="#">Newsletter</a>
                </div>
                <div id="templatemo_menu">
                    <ul>
                        <li class="current"><a href="#"><b>Home</b></a></li>
                        <li><a href="#"><b>Templates</b></a></li>
                        <li><a href="#"><b>Gallery</b></a></li>
                        <li><a href="#"><b>About</b></a></li>
                        <li><a href="#"><b>Contact</b></a></li>	
                    </ul>
                </div>
                <div class="cleaner"></div>
            </div>
            
            <div id="templatemo_welcome">

            	<div class="templatemo_img_ribbon">
                </div>
                <a href="#"><img src="images/templatemo_img_1.jpg" alt="Building" /></a>
              <h1>Welcome to Woody</h1>
                <p>This is a free website template provided by <a href="#">TemplateMo</a> website. You may download, modify and use this layout for your personal or commercial websites. Credit goes to  <a href="http://www.smashingmagazine.com/" target="_blank">Smashing Magazine</a> for icons.</p>
              <p>Curabitur quis velit quis tortor tincidunt aliquett sodales libero ut odio.convallis id, ultrices sit amet, tempor a, libero. Quisque rhoncus nulla quis sem. Mauris quis nulla sed ipsum pretium sagittis. Suspendisse feugiat.</p>

          </div>
          
		<div class="templatemo_content">
			<div class="templatemo_2_col_left">
            	<div class="templatemo_title">
            	<h1>RECENT NEWS</h1>
                </div>
                <img src="images/themplatemo_icon_1.png" alt="Business"  />
                <p>Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar <a href="#">vulputate</a>. Nulla et augue. Sed eu nunc quis pede tristique suscipit.</p>
			  <p>Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices <a href="#">condimentum</a>.</p>
				<p>Quisque facilisis suscipit elit. Curabitur eleifend congue leo. Donec a purus vel purus sollicitudin placerat. Nunc at sem. Sed <a href="#">pellentesque</a> placerat augue. Mauris pede nisl, placerat nec, lobortis vitae, dictum sed, neque.   Quisque blandit eros et lorem.</p>
			  <div class="templatemo_more"><a href="#">Read More</a></div>

            </div><!-- End of 2 col left -->
            
            <div class="templatemo_2_col_right">
            	<div class="templatemo_title">
				<h1>THE STUDIO</h1>
                </div>
                
                <a href="#"><img src="images/templatemo_img_2.jpg" alt="Studio" /></a>
                
              <p>Vestibulum ultrices. Pellentesque tempus sapien nec sem commodo ullamcorper. Aenean neque. Cras feugiat. In ut ante.</p>
            </div><!-- End of 2 col right -->	
            
            <div class="cleaner"></div>
		</div><!-- End Of Content area  -->
        
		<div class="templatemo_h_line"></div>
        
        <div class="templatemo_content">
        	<div class="templatemo_3_col">
            	<div class="templatemo_title">
                	<h1>ABOUT US</h1>
				</div>     
                <p> Pellentesque elementum enim a augue. Donec in nisi. Etiam sit amet turpis.<br />
                &nbsp;</p>
                <a href="#"><img src="images/templatemo_img_3.png" alt="Building" border="0" /></a>
                
  <div class="templatemo_arrow">
                	<a href="#">Natoque cumsoci</a></div>   
                
                <div class="templatemo_arrow">
	                <a href="#">Ridiculus nascetur</a></div>   
                
                <div class="templatemo_arrow">
                	<a href="#">Condimentum</a></div>       
            </div>
            
            <div class="templatemo_3_col middle">
            	<div class="templatemo_title">
                	<h1>SUBSCRIBE</h1>
			  </div>         
                
                <div class="templatemo_newsletter">
                	<form action="#" method="post">
		                <input type="text" value="Enter Your Email Address" name="name" class="field"  title="E-mail" onfocus="clearText(this)" onblur="clearText(this)" />
                        <input type="submit" name="search" value="Subscribe" alt="Subscribe" class="button" title="Subscribe" />
					</form>
                </div>   
            </div>
            
            <div class="templatemo_3_col">
	            <div class="templatemo_title">
                	<h1>CONTACT</h1>
				</div>
                <p>Vestibulum ultrices. Pellentesque tempus sapien nec sem commodo ullamcorper. Aenean neque. Cras feugiat.<br />
                &nbsp;</p>
<ul class="templatemo_list">
                 	<li>Tel:&nbsp;&nbsp;&nbsp;010-010-0100</li>
                    <li>Fax:&nbsp;&nbsp;&nbsp;020-020-0200</li>
                	<li>Email:&nbsp;&nbsp;&nbsp;<a href="#">info [at] yourcompany.com</a></li>
              </ul>
				
            	
            </div>
            <div class="cleaner"></div>
            
        </div><!-- End Of Content  -->
        
        <div class="templatemo_h_line"></div>
        
        <div id="templatemo_footer">Copyright © 2048 <a href="#">Your Company Name</a> 
        <!-- Credit: www.templatemo.com -->|
        Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></div>
        
        
</div><!-- End Of Container  -->
<!--  Free CSS Templates by TemplateMo.com  -->
<!-- templatemo 192 woody -->
<!-- 
Woody Template 
http://www.templatemo.com/preview/templatemo_192_woody 
-->
</body>
</html>