<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Balloon Festival Website · free CSS template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="templatemo_container">
  <div id="templatemo_left_column">
    <div id="templatemo_left_top">
      <div id="templatemo_left_link">
		<a href="#">Main Page</a><br />
        <a href="#">About Festival</a>s<br />
        <a href="#">Schedules</a><br />
        <a href="#">Attractions</a><br />
        <a href="#">Visitor Information</a><br />
        <a href="#">Accommodations</a><br />
        <a href="#">Vendors</a><br />
        <a href="#">Photo Gallery</a><br />
        <a href="#">Contact Us</a><br />
      </div>
    </div>

    <div id="templatemo_lbox_top"></div>
    <div id="templatemo_lbox_body">
      <div align="center"><img src="images/templatemo-image1.jpg" alt="templatemo.com" width="176" height="91" vspace="10" />      </div>
      <div class="templatemo_para">
        <p><em><strong>About Balloons</strong></em><br />
          Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit....</p>
        <p align="right"><a href="#">More &gt;&gt;</a><br />
          <br />
        </p>
      </div>
    </div>
    <div id="templatemo_lbox_bot"></div>
    
    <div id="templatemo_test"><a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a></div>
  </div>
  <div id="templatemo_right_column"><div id="templatemo_header">
    <div id="templatemo_title">Balloon Festival Website</div>
      <div id="templatemo_slogan">..... Free CSS Website Layout for you .....</div>
    </div>
 
    <div id="templatemo_right_text">
      <h1>Welcome to Our Website</h1>
      <p> This free CSS website layout is designed by <a href="#">templatemo.com</a>. Feel free to edit and apply this template layout for your personal or commercial websites. Pellentesque vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. </p>
      <p>Suspendisse vitae neque eget ante tristique vestibulum. Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci. Duis pulvinar scelerisque ante. Morbi tristique, risus quis congue pulvinar, nisl nisi commodo diam, a porta nisi ligula ac massa.  Nunc blandit orci sit amet risus.</p>
      <div id="templatemo_right_box1">
      <div class="templatemo_para">
        <p align="center"><img src="images/templatemo-attraction.jpg" width="145" height="106" alt="templatemo.com"/></p>
        <p><em><strong>Attractions</strong></em><br />
          Mauris blandit vehicula neque. Proin consectetuer. Donec venenatis. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc.<br />
          <a href="#"><font color="#990000">More &gt;&gt;</font></a></p>
        </div>
      </div>
      <div id="templatemo_right_box2">
      <div class="templatemo_para">
        <p align="center"><img src="images/templatemo-accommodation.jpg" width="145" height="106" alt="templatemo.com" /></p>
        <p><em><strong>Accommodation</strong></em><br />
          Suspendisse potenti. Ut sed pede. Nullam vitae tellus. Sed ultrices. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <br />
          <a href="#"><font color="#990000">More &gt;&gt;</font></a></p>
        </div>
      </div>
    </div>
    <div id="templatemo_footer">
    </div> 
  </div>
    <div id="templatemo_copyright">Copyright © 2008 Your Company Name <!-- Credit: www.templatemo.com --> </div>
</div>
<!-- templatemo 019 balloon -->
<!-- 
Balloon Template 
http://www.templatemo.com/preview/templatemo_019_balloon 
-->
</body>
</html>