<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Smoky Theme - Blog Page</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 313 smoky -->
<!-- 
Smoky Template 
http://www.templatemo.com/preview/templatemo_313_smoky 
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

</head>
<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	
        <div id="site_title"><h1><a href="#">Smoky Template</a></h1></div>
        
        <div id="twitter"><a class="twitter rss_twitter" href="#">Follow Us</a></div>
        
        <div class="cleaner"></div>
    </div>
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="blog.html" class="current">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>    	
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_middle_subpage">
        <h2>Blog</h2>
        <p>Praesent fringilla, risus et venenatis egestas, urna ipsum commodo mauris, non porta est nisi id turpis. Nam placerat arcu pellentesque purus pulvinar faucibus nec in neque. Integer laoreet porttitor augue quis tincidunt. </p>
    </div>

	<div id="tm_top"></div>
    <div id="templatemo_main">
    
    	<div class="col_w900 col_w900_last">
            <div class="col_w580 float_l">
           	  <div class="post_box">
                    <img src="images/blog_image_03.jpg" alt="Image" />
                    <p class="post_meta"><span class="cat">Posted in <a href="#">CSS Templates</a>, <a href="#">Web Design</a></span> | Date: July 02, 2048</p>
                    <h2>Sed mollis elementum lectus rhoncus</h2>
                    <p>Nunc varius venenatis sem sed adipiscing. Mauris suscipit mauris in purus mattis placerat. Ut rhoncus imperdiet nibh sit amet sagittis. Aliquam erat volutpat. In pellentesque sagittis dictum. Aliquam erat volutpat. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                    <a class="more" href="#">More</a>
                    <div class="cleaner"></div>
                </div>
                <div class="post_box">
                	<img src="images/blog_image_02.jpg" alt="Image" />
                    <p class="post_meta"><span class="cat">Posted in <a href="#">Illustrations</a>, <a href="#">Graphics</a></span> | Date: June 28, 2048</p>
                  <h2>Duis eu lectus et ante accumsan auctor</h2>
                    <p> Aliquam erat volutpat. In pellentesque sagittis dictum. Aliquam erat volutpat. Donec ac aliquam neque. Sed tellus diam, consequat nec volutpat et, cursus ac nisi. Mauris in risus in diam consequat suscipit non ac enim.</p>
                    <a class="more" href="#">More</a>
                    <div class="cleaner"></div>
                </div>
                <div class="post_box">
                	<img src="images/blog_image_01.jpg" alt="Image" />
                    <p class="post_meta"><span class="cat">Posted in <a href="#">3D</a>, <a href="#">Interactive</a></span> | Date: June 25, 2048</p>
                  <h2>Aenean vulputate tempus sollicitudin</h2>
                    <p>Mauris suscipit mauris in purus mattis placerat. Ut rhoncus imperdiet nibh sit amet sagittis. Aliquam erat volutpat. In pellentesque sagittis dictum. Aliquam erat volutpat. Donec ac aliquam neque. Sed tellus diam.</p>
                    <a class="more" href="#">More</a>
                    <div class="cleaner"></div>
                </div>  
            </div>
            
            <div class="col_w280 float_r">
            	<h2>Latest Updates</h2>
                <div class="lbe_box">
                    <h3><a href="#">Etiam a Dui et Eros Imperdiet Rhoncus</a></h3>
                    <p>Morbi pellentesque, libero vitae fermentum tincidunt libero accumsan erat, sit amet.</p>
                    <p class="date">June 27, 2048</p>
                </div>
                <div class="lbe_box">
                    <h3><a href="#">Aenean Quis Nulla ac Nisl Rutrum</a></h3>
                    <p>Libero accumsan erat, sit amet ornare lectus urna a turpis libero nibh vulputate et diam.</p>
                    <p class="date">June 18, 2048</p>
                    <div class="cleaner"></div>
                </div>
                
                <div class="cleaner h30"></div>
                
                <h3>Our Latest Project</h3>
                <div class="sb_lp_box">
                	<img src="images/gallery/image_04_s.jpg" alt="image" />
                    <p>Duis convallis odio et velit venenatis ac venenatis turpis mattis varius quam et laoreet. <a href="#">More...</a></p>
                </div>
                
                
                </div>
            </div>
        
        <div class="cleaner"></div>
    </div> <!-- end of main -->
    <div id="tm_bottom"></div>
    
    <div id="templatemo_footer">
    	
        Copyright © 2048 <a href="#">Your Company Name</a>
        
    </div> <!-- end of footer -->
        
</div> <!-- end of wrapper -->

</body>
</html>