<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Smoky Theme - Websites Gallery</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 313 smoky -->
<!-- 
Smoky Template 
http://www.templatemo.com/preview/templatemo_313_smoky 
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>

<script type="text/javascript" src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/slimbox2.css" type="text/css" media="screen" /> 
<script type="text/JavaScript" src="js/slimbox2.js"></script> 


</head>
<body>

<div id="templatemo_wrapper">
	<div id="templatemo_header">
    	
        <div id="site_title"><h1><a href="#">Smoky Template</a></h1></div>
        
        <div id="twitter"><a class="twitter rss_twitter" href="#">Follow Us</a></div>
        
        <div class="cleaner"></div>
    </div>
    
    <div id="templatemo_menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="gallery.html" class="current">Gallery</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>    	
        <div class="cleaner"></div>
    </div> <!-- end of templatemo_menu -->
    
    <div id="templatemo_middle_subpage">
        <h2>Gallery</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris iaculis nulla vitae ante congue iaculis. Nunc vitae sapien sed neque porttitor egestas sit amet ut ligula. Praesent placerat dui ut nibh eleifend lobortis. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
    </div>

	<div id="tm_top"></div>
    <div id="templatemo_main">
    
    	<div class="col_w900 col_w900_last">
            <div id="gallery">
                    <div class="gallery_box">
                    	<h3><a href="#">Donec mattis rhoncus</a></h3>
                        <a href="images/gallery/image_01_l.jpg" title="Suspendisse vitae orci a ligula egestas bibendum." rel="lightbox[portfolio]">
	                        <img src="images/gallery/image_01_s.jpg" alt="Image 1" />
                        </a>
                        <a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
                    </div>
                    <div class="gallery_box">
                    	<h3><a href="#">Maecenas rutrum lacinia</a></h3>
                        <a href="images/gallery/image_02_l.jpg" title="Mauris in sapien in massa pellentesque viverra." rel="lightbox[portfolio]">
	                        <img src="images/gallery/image_02_s.jpg" alt="Image 2" />
                        </a><a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
					</div>
                    <div class="gallery_box">
                    	<h3><a href="#">Integer molestie</a></h3>
                    	<a href="images/gallery/image_03_l.jpg" title="Fusce non lacus et lorem ornare interdum." rel="lightbox[portfolio]">
                        	<img src="images/gallery/image_03_s.jpg" alt="Image" />
						</a>
                        <a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
					</div>
                    <div class="gallery_box lmb">
                    	<h3><a href="#">Duis eu lectus</a></h3>
                        <a href="images/gallery/image_04_l.jpg" title="Pellentesque consequat condimentum risus." rel="lightbox[portfolio]">
	                        <img src="images/gallery/image_04_s.jpg" alt="Image" />
                        </a>
                        <a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
					</div>
                    <div class="gallery_box">
                    	<h3><a href="#">Etiam nec enim</a></h3>
                    	<a href="images/gallery/image_05_l.jpg" title="Morbi dapibus dolor sit amet metus suscipit iaculis." rel="lightbox[portfolio]">
                        	<img src="images/gallery/image_05_s.jpg" alt="Image" />
						</a>
                        <a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
					</div>
                    <div class="gallery_box">
                    	<h3><a href="#">Suspendisse Condimentum</a></h3>
                    	<a href="images/gallery/image_06_l.jpg" title="Donec accumsan urna non elit tristique mattis." rel="lightbox[portfolio]">
                        	<img src="images/gallery/image_06_s.jpg" alt="Image" />
						</a>
                        <a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
					</div>
                    <div class="gallery_box">
                    	<h3><a href="#">Lorem ipsum dolor</a></h3>
                        <a href="images/gallery/image_01_l.jpg" title="Nulla sed leo sed sapien sagittis aliquet." rel="lightbox[portfolio]">
	                        <img src="images/gallery/image_01_s.jpg" alt="Image" />
                        </a>
                        <a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
                    </div>
                    <div class="gallery_box lmb">
                    	<h3><a href="#">Sed pellentesque placerat</a></h3>
                        <a href="images/gallery/image_02_l.jpg" title="Sed pellentesque placerat augue." rel="lightbox[portfolio]">
	                        <img src="images/gallery/image_02_s.jpg" alt="Image" />
                        </a>                        
                        <a href="#" class="more">Detail</a><a href="#" class="more">Visit</a>
                        <div class="cleaner"></div>
					</div>
                    <div class="cleaner"></div>
              </div>
            
            <div class="cleaner"></div>
		</div>
        
        <div class="cleaner"></div>
    </div> <!-- end of main -->
    <div id="tm_bottom"></div>
    
    <div id="templatemo_footer">
    	
        Copyright © 2048 <a href="#">Your Company Name</a>
        
    </div> <!-- end of footer -->
        
</div> <!-- end of wrapper -->

</body>
</html>