<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Tomato Company - Free CSS Layout, Website Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="templatemo_container">
  <div id="templatemo_top">
    <div id="templatemo_title">TOMATO <span>WEBSITE</span></div>
      <div class="templatemo_menu">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#">ABOUT US</a></li>
      <li><a href="#">SERVICES</a></li>
      <li><a href="#">CLIENTS</a></li>
      <li><a href="#">CONTACT US</a></li>
    </ul>
  </div>
  </div>
  <div id="templatemo_header">
    <div id="templatemo_header_slogan">
      <p><img src="images/templatemo_welcome.jpg" alt="templatemo.com" width="165" height="34" /></p>
      <p>This is a free CSS  template from <a href="#"><strong>TemplateMo</strong></a>. You may download, modify and apply this CSS layout for your websites. Credit goes to <a rel="nofollow" href="http://www.pdphoto.org" target="_blank"><strong>PDPhoto.org</strong></a> for the photos. Thank you for visiting.</p>
    </div>
  </div>
    <div id="templatemo_content">
      <div id="templatemo_content_left">
        <h2>OUR SERVICE ?</h2>
        <p><strong>Nulla enim nibh,</strong> consectetuer sed, vestibulum elementum, sagittis nec, diam. Mauris blandit vehicula neque. Proin consectetuer. Donec venenatis. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc. </p>
        <p><strong>Nullam pede purus,</strong> tempor a, imperdiet in, porttitor at, nulla. Aliquam elit risus, volutpat quis, mattis ac, elementum eget, mauris. In hac habitasse platea dictumst. Aenean cursus.</p>
        <h2>LATEST NEWS ?</h2>
        <h3>POST DATE: 26-12-2020</h3>
        <p>Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque. Aenean eget tortor eget ipsum aliquet porta. Vestibulum quis pede non urna venenatis vehicula.</p>
        <h3>POST DATE: 18-12-2020</h3>
        <p>Praesent vel diam. Cras sed leo tempor neque placerat pretium. Curabitur nec odio. Phasellus tincidunt, tortor lacinia blandit commodo, nunc augue mattis eros, ut convallis est augue vel orci.</p>
        <p><a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a></p>
      </div>
      <div id="templatemo_content_right">
        <h1>WHAT WE DO ?</h1>
        <ul>
          <li><strong>Quisque in diam a justo condimentum molestie.</strong> Vivamus a velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </li>
          <li><strong>Curabitur quis velit quis tortor tincidunt aliquet.</strong> Vivamus leo velit, convallis id, ultrices sit amet, tempor a, libero.</li>
          <li> <strong>Quisque rhoncus nulla quis sem.</strong> Mauris quis nulla sed ipsum pretium sagittis. Suspendisse feugiat. Ut sodales libero ut odio. Maecenas venenatis metus eu est. </li>
          <li><strong>In sed risus ac felis varius bibendum.</strong> Nulla imperdiet congue metus. Vestibulum dapibus tortor vel orci. </li>
          <li><strong>Maecenas vulputate, arcu id fermentum eleifend,</strong> tortor enim tincidunt mauris, fringilla tincidunt purus urna vel risus. Fusce vulputate tellus ac felis. Praesent mauris. </li>
        </ul>
        <p>&nbsp;</p>
        <h1>OUR LATEST PROJECTS ?</h1>
        <p><img src="images/templatemo_photo1.jpg" alt="templatemo.com" width="127" height="102" /><br />
        Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. <a href="#"><strong>More</strong></a></p>
        <p>&nbsp;</p>
        <p><img src="images/templatemo_photo2.jpg" alt="templatemo.com" width="127" height="102" /><br />
        Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum. <a href="#"><strong>More</strong></a></p>
      </div>
    </div>
     <div id="templatemo_footer">
       <div id="templatemo_footer_left">Copyright © Your Company Name <!-- Credit: www.templatemo.com --></div>
       <div id="templatemo_footer_right">
         <strong>QUICK CONTACT</strong><br />
           Tel: 000-100-1000 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mobile: 000-200-2000<br />
           Fax: 000-300-3000<br />
           Email: info[at]company.com<br />
       </div>
     </div>
</div>
<!-- templatemo 033 tomato -->
<!-- 
Tomato Template 
http://www.templatemo.com/preview/templatemo_033_tomato 
-->
</body>
</html>