<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About Power Blog - free CSS template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="reviews.html">Reviews</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="about.html" class="current">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>    	
    </div> <!-- end of templatemo_menu -->
    
    <div id="tempaltemo_header">
    	
        <div id="site_title">
            <a href="#"><img src="images/templatemo_logo.png" alt="power" /></a>
        </div> <!-- end of site_title -->
        
        <div id="header_right">
        	<h1>Lorem ipsum dolor sit amet</h1>
            <p>Etiam sit amet turpis. Duis nulla diam, posuere ac, varius id, ullamcorper sit amet, libero. Nam sodales, pede vel dapibus lobortis, ipsum diam molestie risus, a vulputate risus nisl pulvinar lacus.</p>
            <div class="btn_more image_fr"><a href="blog_post.html">Read more</a></div>
        </div>
        
    	<div class="cleaner"></div>
    </div> <!-- end of tempaltemo header -->
    
    <div id="templatemo_content_wrapper_top"></div>
    <div id="templatemo_content_wrapper">
    	
        <div id="sidebar">
        	<div class="sidebar_box">
                <h3 class="hr_divider">Sidebar Menu</h3>
                <ul class="tmo_list">
                    <li><a href="#">Quisque dictum pharetra</a></li>
                    <li><a href="#">Praesent adipiscing</a></li>
                    <li><a href="#">Mauris et elit quis</a></li>
                    <li><a href="#">Etiam in lorem ac nulla</a></li>
                    <li><a href="#">Donec a purus vel purus</a></li>
                    <li><a href="#">Praesent sollicitudin</a></li>
                </ul>
			</div>
        	<div id="login">
            <h3 class="hr_divider">Member Login</h3>
                <form method="get" action="#">
                    <label for="username">Username:</label> <input name="username" type="text" class="login_field" id="username" maxlength="30" />
                  <div class="cleaner_h10"></div>
                    <label for="email">Password:</label> <input name="password" type="password" class="login_field" id="email" maxlength="30" />
				  <div class="cleaner_h10"></div>
                    <input type="submit" name="submit" id="submit" value="Login" class="submit_btn" />
                </form>
			</div>
            
        </div>
        
        <div id="content">
        
        	<div class="post_box">
        
                <h2>About Our Web Blog</h2>
           	  
              <p>Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>. Cras quis nulla non turpis elementum lacinia. <a href="#">Duis gravida</a>, est sit amet ultricies mattis, erat nisi euismod dui, non auctor felis eros congue orci. Aenean a lectus ac purus consectetur sagittis at quis urna. Sed urna lacus, dictum vitae placerat ac, pretium in neque. Vestibulum eget tellus diam. Suspendisse varius sodales auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam nec leo eget elit egestas semper. Sed ante urna, condimentum sed tempor quis, posuere tempus velit. Praesent gravida tellus et odio bibendum in hendrerit tortor dignissim.</p>
                <a href="#"><img src="images/templatemo_image_02.jpg" alt="image 2" /></a>
                
                <p>Aenean a lectus ac purus consectetur sagittis at quis urna. Sed urna lacus, dictum vitae placerat ac, pretium in neque. Vestibulum eget tellus diam. <a href="#">Suspendisse varius</a> sodales auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam nec leo eget elit egestas semper. Sed ante urna, condimentum sed tempor quis, posuere tempus velit. Praesent gravida tellus et odio bibendum in hendrerit tortor dignissim.</p>
                <p>Fusce pretium condimentum ullamcorper. Pellentesque dignissim facilisis enim ac condimentum. Proin ligula elit, pellentesque id auctor sit amet, varius id magna. Suspendisse bibendum dui et sem blandit a volutpat libero dapibus. <a href="#">Donec adipiscing</a> lacus eget mauris pellentesque imperdiet. Sed elementum augue nec nunc tempor scelerisque. Fusce dictum dapibus leo, at pellentesque augue lobortis quis. Etiam in lectus ac urna facilisis facilisis. Nam dui ligula, hendrerit sed scelerisque sed, rutrum at dui. Proin in libero nulla, id aliquam eros.</p>
              <p><em>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi nibh mauris, dictum et rutrum id, sagittis placerat nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae urna blandit est egestas suscipit.</em></p>
              <div class="cleaner"></div>
    
            </div>
        </div>
        
        <div class="cleaner"></div>
    </div><!-- end of content wrapper -->
   	<div id="templatemo_content_wrapper_bottom"></div>

	<div id="templatemo_footer">
    
        <div class="col_w300">
            <h4>Our Pages</h4>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html" class="last">Contact</a></li>
            </ul>  
 
        </div>
        
        <div class="col_w300">
            <h4>Partners</h4>
            <ul>
                <li><a href="#">Flash Templates</a></li>
                <li><a href="#">CSS Templates</a></li>
                <li><a href="#">Flash Websites Gallery</a></li>
                <li><a href="#">Premium Templates</a></li>
            </ul>    
 
        </div>
        
        <div class="col_w300">
            <h4>About this blog</h4>
            <p>Aenean scelerisque tellus vitae tortor placerat egestas. Integer consectetur enim eget diam tincidunt vehicula. Ut volutpat erat nec mauris vestibulum sit amet pharetra.</p>
            <div class="btn_more"><a href="about.html">Read more <span>&raquo;</span></a></div>
 
        </div>
        
        
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
</div> <!-- end of templatemo_wrapper -->

<div id="templatemo_copyright_wrapper">
    <div id="templatemo_copyright">
    
        Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
    </div>
</div>
<!-- templatemo 299 power -->
<!-- 
Power Template 
http://www.templatemo.com/preview/templatemo_299_power 
-->
</body>
</html>