<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Power Blog Theme - free CSS template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="templatemo_wrapper">

	<div id="templatemo_menu">
        <ul>
            <li><a href="index.html" class="current">Home</a></li>
            <li><a href="reviews.html">Reviews</a></li>
            <li><a href="gallery.html">Gallery</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>    	
    </div> <!-- end of templatemo_menu -->
    
    <div id="tempaltemo_header">
    	
        <div id="site_title">
            <a href="#"><img src="images/templatemo_logo.png" alt="power" /></a>
        </div> <!-- end of site_title -->
        
        <div id="header_right">
        	<h1>Lorem ipsum dolor sit amet</h1>
            <p>Etiam sit amet turpis. Duis nulla diam, posuere ac, varius id, ullamcorper sit amet, libero. Nam sodales, pede vel dapibus lobortis, ipsum diam molestie risus, a vulputate risus nisl pulvinar lacus.</p>
            <div class="btn_more image_fr"><a href="blog_post.html">Read more</a></div>
        </div>
        
    	<div class="cleaner"></div>
    </div> <!-- end of tempaltemo header -->
    
    <div id="templatemo_content_wrapper_top"></div>
    <div id="templatemo_content_wrapper">
    	
        <div id="sidebar">
        	<div class="sidebar_box">
                <h3 class="hr_divider">Sidebar Menu</h3>
                <ul class="tmo_list">
                    <li><a href="#">Quisque dictum pharetra</a></li>
                    <li><a href="#">Praesent adipiscing</a></li>
                    <li><a href="#">Mauris et elit quis</a></li>
                    <li><a href="#">Etiam in lorem ac nulla</a></li>
                </ul>
			</div>
            
            <div class="sidebar_box">
            	<h3 class="hr_divider">Recent Posts</h3>
                <div class="recent_comment_box">
                    <a href="#">Lorem ipsum dolor si</a>
                    <p> Pellentesque tempus sapien nec sem commodo ullamcorper.</p>
              </div>
                
                <div class="recent_comment_box">
                    <a href="#">Aenean feugiat mattis</a>
                    <p>Vestibulum nisl mauris, malesuada nec, dictum in, molestie in.</p>
                </div>
                
            </div>
            
            <div id="login">
                <h3 class="hr_divider">Member Login</h3>
                <form method="get" action="#">
                    <label for="username">Username:</label> <input name="username" type="text" class="login_field" id="username" maxlength="30" />
                  <div class="cleaner_h10"></div>
                    <label for="email">Password:</label> <input name="password" type="password" class="login_field" id="email" maxlength="30" />
				  <div class="cleaner_h10"></div>
                    <input type="submit" name="submit" id="submit" value="Login" class="submit_btn" />
                </form>
			</div>
            
        </div>
        
        <div id="content">
        
        	<div class="post_box">
        
                <h2><a href="blog_post.html">Aliquam lorem ante dapibus in viverra</a></h2>

                <div class="post_meta"><strong>Date:</strong> May 25, 2048 | <strong>Author:</strong> Mike | <strong>Category: </strong><a href="#">Truck</a>, <a href="#">Games</a></div>
                <a href="#"><img src="images/templatemo_image_01.jpg" alt="image 1" /></a>
                <p><em>Sed tempus egestas diam quis dapibus. Quisque sed mauris velit, a congue lorem. Aliquam quis mi sed libero dapibus iaculis a et mi.</em></p>
                <p><a href="#">templatemo</a> provides <a href="#">Power Design</a> as a <a href="#">free css template</a> that can be used for your personal or commercial websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">PhotoVaco</a> for all photos used in this template.   Donec imperdiet posuere rhoncus. Etiam pellentesque velit vitae metus scelerisque eu placerat tellus pulvinar. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
                    
            <div class="cleaner_h20"></div>
                <div class="category"><a href="blog_post.html">512 comments</a></div> <div class="btn_more float_r"><a href="blog_post.html">Read more</a></div>
                <div class="cleaner"></div>
    
            </div>
            
       	  <div class="post_box post_box_last">
        
                <h2><a href="blog_post.html">Mauris euismod urna id urna faucibus</a></h2>

                <div class="post_meta"><strong>Date:</strong> May 22, 2048 | <strong>Author:</strong> Steven | <strong>Category: </strong><a href="#">Racing</a>, <a href="#">Sports</a></div>
            <a href="#"><img src="images/templatemo_image_02.jpg" alt="image 2" /></a>
            	<p><em>Etiam pellentesque velit vitae metus scelerisque eu placerat tellus pulvinar. Sed feugiat libero ac purus posuere vel luctus.</em></p>
                <p>Maecenas quis metus urna, nec rhoncus tortor. Morbi ultricies, ante et ullamcorper facilisis, lorem libero auctor risus, in eleifend ante mi ut ante. Proin nec mi nec nunc convallis iaculis. Suspendisse ut ligula ante.  Maecenas velit justo, mattis nec adipiscing sed, congue at risus. Mauris tristique eros vel nibh malesuada cursus.</p>
                    
    <div class="cleaner_h20"></div>
                <div class="category"><a href="blog_post.html">768 comments</a></div> <div class="btn_more float_r"><a href="blog_post.html">Read more</a></div>
                <div class="cleaner"></div>
    
            </div>
        </div>
        
        <div class="cleaner"></div>
    </div><!-- end of content wrapper -->
   	<div id="templatemo_content_wrapper_bottom"></div>

	<div id="templatemo_footer">
    
        <div class="col_w300">
            <h4>Our Pages</h4>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="contact.html" class="last">Contact</a></li>
            </ul>  
 
        </div>
        
        <div class="col_w300">
            <h4>Partners</h4>
            <ul>
                <li><a href="#">Flash Templates</a></li>
                <li><a href="#">CSS Templates</a></li>
                <li><a href="#">Flash Websites Gallery</a></li>
                <li><a href="#">Premium Templates</a></li>
            </ul>    
 
        </div>
        
        <div class="col_w300">
            <h4>About this blog</h4>
            <p>Aenean scelerisque tellus vitae tortor placerat egestas. Integer consectetur enim eget diam tincidunt vehicula. Ut volutpat erat nec mauris vestibulum sit amet pharetra.</p>
            <div class="btn_more"><a href="about.html">Read more <span>&raquo;</span></a></div>
 
        </div>
        
        
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
</div> <!-- end of templatemo_wrapper -->

<div id="templatemo_copyright_wrapper">
    <div id="templatemo_copyright">
    
        Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
    </div>
</div>
<!-- templatemo 299 power -->
<!-- 
Power Template 
http://www.templatemo.com/preview/templatemo_299_power 
-->
</body>
</html>