<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Media Template, Professional XHTML CSS Layout</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;

}
</script>
</head>
<body>
<div id="templatemo_top_bar_wrapper">
	<div id="templatemo_top_bar">
        <form action="#" method="get">
            <input type="text" value="Search..." name="q" size="10" class="inputfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />            
            <input type="submit" name="Search" value="Search" alt="Search" class="submitbutton" title="Search" />
        </form>
    </div> <!-- end of top bar -->
</div> <!-- end of top bar wrapper -->

<div id="templatemo_banner_wrapper">

	<div id="templatemo_banner">
    
    	<div id="templatemo_site_title_section">
        	<div id="templatemo_site_title">
            	<a href="#">( Media Co. ) <span>Your tagline goes here</span></a>
            </div>
        </div>
        
        <div id="templatemo_banner_content">
        
        	<div class="header_01">Morbi malesuada velit at ipsum </div>
            <p>"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet,
 consectetur, adipisci velit..."</p>
 			<a href="#">Read More...</a></div>
    
    	<div class="cleaner"></div>
    </div> <!-- end of banner -->
</div> <!-- end of banner -->

<div id="templatemo_menu_wrapper">
	<div id="templatemo_menu">
        <ul>
              <li><a href="#" class="current">Home</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Gallery</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#" class="last">Contact</a></li>
        </ul>    	
    </div> <!-- end of menu -->
</div> <!-- end of menu wrapper -->

<div id="templatemo_content_wrapper">
        <div id="top"></div>
	<div id="templatemo_content">

<div class="column_w380_left">
        	
            <div class="header_02">Integer in ipsum nec neque tristique </div>
            
            <div class="image_wrapper"><a href="#"><img src="images/templatemo_image_00.jpg" alt="Free Template" /></a></div>
            <p class="em_text">This website template is provided by <a href="#">TemplateMo</a> for free. You may download, edit and apply this website layout for your websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos used in this template.</p>
        <p>Vivamus interdum, massa quis tristique tincidunt, arcu diam am euismod, purus sit amet cursus molestie, ipsum nibh consectetur magna, a varius mi felis eu tellus.</p>
      <p>Mauris tempus, elit rutrum tempus aliquet, urna lacus luctus quam, id commodo dolor mauris in felis.</p>
            
        
      </div> <!-- end of column w380 left -->
        
        <div class="column_w380_right">
        
        	<div class="header_02">Lorem ipsum dolor sit amet</div>
            <p>Pellentesque iaculis, velit vel egestas bibendum, lorem erat volutpat nisl, in cursus felis massa eget lectus. Suspendisse diam tellus, ullamcorper eu cursus in, porttitor sit amet leo.</p>
            
          <div class="margin_bottom_20"></div>
            
            <ul class="content_list_01">
                <li>Aenean sodales faucibus risus, eu posuere eros dapibus eu. Duis dui augue</li>
                <li>Donec sit amet est et diam laoreet dictum quis</li>
                <li>Pellentesque iaculis, velit vel egestas bibendum</li>
          </ul>
            
            <div class="margin_bottom_20"></div>
            
            <div class="section_w180 fl margin_right_20">
            	
                <img src="images/templatemo_image_09.jpg" alt="Global Web Template" />
                
              <div class="header_04"><a href="#">Donec sit amet est</a></div>
                
                <p>Integer in ipsum nec neque tristique venenatis. Sed porta, tortor congue...</p>
          </div>
            
            <div class="section_w180 fl">
            	
                <img src="images/templatemo_image_10.jpg" alt="Travel Template" />
                
              <div class="header_04"><a href="#">Aliquam vitae diam</a></div>
                
                <p>Nullam at vehicula risus. Aliquam eu massa fringilla diam convallis...</p>
          </div>
            
            <div class="cleaner"></div>
        </div> <!-- end of column w380 right -->
    
    	<div class="cleaner"></div>
    </div> <!-- end of content inner -->
            <div id="bottom"></div>
</div> <!-- end of content wrapper -->

<div id="templatemo_footer_wrapper">

	<div id="templatemo_footer">
    	
        <div class="section_w195">
        	<div class="header_05">Services</div>
            <ul class="footer_menu_list">
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Cum sociis</a></li>
                <li><a href="#">Donec quam</a></li>
                <li><a href="#">Nulla consequat</a></li>
                <li><a href="#">In enim justo</a></li>              
            </ul>
        </div>
        
        <div class="section_w195">
        	<div class="header_05">About</div>
            <ul class="footer_menu_list">
                <li><a href="#">Nullam quis</a></li>
                <li><a href="#">Sed consequat</a></li>
                <li><a href="#">Cras dapibus</a></li> 
                <li><a href="#">Lorem ipsum dolor</a></li>
                <li><a href="#">Cum sociis</a></li>                
            </ul>
        </div>
                
        <div class="section_w195 section_w195_last">
        	<div class="header_05">Cool links</div>
            <ul class="footer_menu_list">
                <li><a href="#">CSS Templates</a></li>
                <li><a href="#">Flash Templates</a></li>
                <li><a href="#">Web Design Blog</a></li>
                <li><a href="#">WordPress Themes</a></li>
				<li><a href="#">Flash Gallery</a></li>
          </ul>
        </div>
        
        <div class="section_w330">
			<div class="header_05">Photo Gallery</div>  
            
            <ul class="gallery">
	            <li><a href="#"><img src="images/templatemo_image_01.jpg" alt="image" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_02.jpg" alt="image" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_03.jpg" alt="image" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_04.jpg" alt="image" /></a></li>
                
                <li><a href="#"><img src="images/templatemo_image_05.jpg" alt="image" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_06.jpg" alt="image" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_07.jpg" alt="image" /></a></li>
                <li><a href="#"><img src="images/templatemo_image_08.jpg" alt="image" /></a></li>
			</ul>
                
        </div>
        <div class="margin_bottom_20"></div>
        Copyright © 2024 <a href="#">Your Company Name</a> | 
        <!-- Credit: www.templatemo.com -->
        <div class="cleaner"></div>
    </div> <!-- end of footer -->
    
</div> <!-- end of footer -->
<!--  Free CSS Templates by TemplateMo.com  -->
<!-- templatemo 124 media -->
<!-- 
Media Template 
http://www.templatemo.com/preview/templatemo_124_media 
-->
</body>
</html>