<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Fruit CSS template · Website Layout</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="templatemo_container">
  <div id="templatemo_header">
    <div id="templatemo_title"><span>Fruit</span> Company</div>
    <div id="templatemo_slogan"> Website Template provided by TemplateMo.com</div>
    <div id="templatemo_welcome">WELCOME</div>
  </div>
  <div id="templatemo_content">
      <div id="templatemo_left">
        <h1>DOWNLOAD FREE CSS TEMPLATE</h1>
        <p>This is a free website template provided by <a href="#">TemplateMo</a>. You may use this template for any of your websites. Credit goes to <a href="#">PDPhoto.org</a> for photos.</p>
        <p>Nulla enim nibh, consectetuer sed, vestibulum elementum, sagittis nec, diam. Mauris blandit vehicula neque. Proin consectetuer. Donec venenatis. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc. Nullam pede purus, tempor a, imperdiet in, porttitor at, nulla. Aliquam elit risus, volutpat quis, mattis ac, elementum eget, mauris. In hac habitasse platea dictumst. </p>
        <p>Aenean cursus. Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque. Aenean eget tortor eget ipsum aliquet porta. Vestibulum quis pede non urna venenatis vehicula. Praesent vel diam. Cras sed leo tempor neque placerat pretium. Curabitur nec odio. Phasellus tincidunt, tortor lacinia blandit commodo, nunc augue mattis eros, ut convallis est augue vel orci.</p>
        <h2>WHAT WE DO?</h2>
        <div id="templatemo_left_column">
          <p><img src="images/templatemo_pic1.jpg" alt="templatemo.com" width="185" height="76" /></p>
          <p>Aliquam tristique lacus in sapien. Suspendisse potenti. Ut sed pede. Nullam vitae tellus. Sed ultrices. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur velit tellus, placerat et, dapibus varius, aliquet quis, purus. Aliquam sagittis molestie sapien. Nulla tellus risus, tincidunt vitae, sagittis vel, interdum at, erat. Duis vitae velit. Ut ultricies. Fusce sollicitudin nisl a lectus. Pellentesque odio.</p>
          <p><a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a></p>
        </div>
        <div id="templatemo_right_column">
          <p><img src="images/templatemo_pic2.jpg" alt="templatemo.com" width="185" height="76" /></p>
          <p>Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante. Fusce ac orci sit amet velit ultrices condimentum. Integer imperdiet odio ac eros. Ut id massa. Nullam nunc. Vivamus sagittis varius lorem.</p>
        </div>
      </div>
      <div id="templatemo_right">
        <div class="templatemo_menu">
        <ul>
          <li><a href="#">HOME PAGE</a></li>
            <li><a href="#">CSS LAYOUTS</a></li>
              <li><a href="#">FLASH WEBSITES</a></li>
            <li><a href="#">WEB DEVELOPMENT</a></li>
            <li><a href="#">QUALITY TEMPLATES</a></li>
            <li><a href="#">PARTNERS</a></li>
              <li><a href="#">TESTIMONIALS</a></li>
        </ul>
        </div>
            <div class="templatemo_box">
              <div class="templatemo_box_header">OUR LATEST NEWS</div>
            <p><strong>[18-10-2010] Web Design<br />
</strong>
                  Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim.</p>
        <p><strong>[15-10-2010] Multimedia<br />
</strong>
                  Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae, sapien. Donec ante.</p>
        </div>
                <div class="templatemo_box">
                <div class="templatemo_box_header">QUICK CONTACT</div>
                <p>Mobile: 000-200-2000<br />
					Tel: 000-100-1000<br />
                  Fax: 001-001-0011<br />
                  Email: info[at]company.com</p>
        </div>
      </div>         
  </div>
  <div id="templatemo_footer">Copyright ©  Your Company Name <!-- Credit: www.templatemo.com --></div>
</div>
<!-- templatemo 025 fruit -->
<!-- 
Fruit Template 
http://www.templatemo.com/preview/templatemo_025_fruit 
-->
</body>
</html>