<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!--  Designed by w w w . t e m p l a t e m o . c o m  --> 

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>free CSS template for travel websites - templatemo</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div id="templatemo_container">
  <div id="templatemo_header_top"></div>

  <div id="templatemo_header_section">
  	<div class="templatemo_header_box">
		<img alt="Box Image 1" src="images/templatemo_box_image_1.jpg" />
        <img alt="Box Image 2" src="images/templatemo_box_image_2.jpg" />
    </div>

    <div class="templatemo_topmenu">

      <ul>

        <li><a href="#" class="current">PROFILE</a></li>

        <li><a href="#">CONTACT SHEET</a></li>

        <li><a href="#">TERMS &amp; CODITIONS</a></li>        
        
        <li><a href="#">TOUR PACKAGES</a></li>
        


      </ul>

    </div>

  </div>

  <div id="templatemo_content_section">
    <div id="templatemo_content_left">
		<div class="templatemo_content_left_banner">
        	<img alt="banner1" src="images/templatemo_banner_1.jpg" />
            <img alt="banner1" src="images/templatemo_banner_2.jpg" />
        </div>
	  <div id="templatemo_content_left_top">
        <h1>WELCOME TO OUR HOMEPAGE</h1>

        <p>This is a travel website template provided by <a href="#">TemplateMo.com</a>. You may use this layout for your tour and travel related websites.</p>

        <p>Suspendisse vitae neque eget ante tristique vestibulum. Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci. Mauris convallis. Proin vel libero id erat venenatis accumsan. Nunc blandit orci sit amet risus.</p>

        <p>Quisque in diam a justo <a href="#">condimentum</a> molestie. Vivamus a velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur quis velit quis tortor tincidunt aliquet.<br />
          <br />
        Quisque in diam a justo <a href="#">condimentum</a> molestie. Vivamus a velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur quis velit quis tortor tincidunt aliquet.</p>		
		</div>
		<div id="templatemo_content_left_bot"></div>
	</div>

    <div id="templatemo_content_right">
	  	<div id="templatemo_content_right_section1">
        	<div id="templatemo_location">
            	<div class="templatemo_location_box">
                	<div class="templatemo_location_box_text"><a href="#">Vegas</a></div>
					<img alt="Vegas" src="images/templatemo_vegas.jpg" style="float:right" />
                </div>
                <div class="templatemo_location_box">
					<div class="templatemo_location_box_text"><a href="#">Canada</a></div> 
                    <img alt="Canada" src="images/templatemo_canada.jpg" style="float:right"/>
                </div>
                <div class="templatemo_location_box">
                	<div class="templatemo_location_box_text"><a href="#">Ireland</a></div> 
                    <img alt="Ireland" src="images/templatemo_ireland.jpg" style="float:right" />
                </div>
                
                <div class="templatemo_location_box">
                	<div class="templatemo_location_box_text"><a href="#">England</a></div> 
                    <img alt="England" src="images/templatemo_england.jpg" style="float:right" />
                </div>
                
                <div class="templatemo_location_box">
                	<div class="templatemo_location_box_text"><a href="#">Montana</a></div> 
                    <img alt="Montana" src="images/templatemo_montana.jpg" style="float:right" />
                </div>
                
          </div>
        </div>
		<div id="templatemo_content_right_section2">
		  <div id="templatemo_form">
          <form action="#" method="post">
          	<div class="templatemo_form_roll">                 
	          	<label>From :</label>
            	<input class="inputfield" name="from" type="text" id="from"/>
			</div>
          	
            <div class="templatemo_form_roll">
          		<label>To :</label>
    	        <input class="inputfield" name="to" type="text" id="to"/>
			</div>

			<div class="templatemo_form_col">
				<label> Search : </label><br />
          		<input name="search" type="radio" value="exact_dates" checked="checked" /> Exact Dates
	            <input name="search" type="radio" value="flexible_dates" />Flexible Dates            
			</div>
            <div class="templatemo_form_col">
				<label> Depart : </label><br />
	          		<select name="month" >
    	        		<option value="Jan">Jan</option>
	        	        <option value="Feb">Feb</option>
    	        	    <option value="Mar">Mar</option>
        		        <option value="Apr">Apr</option>
            		    <option value="May">May</option>
                		<option value="Jun">Jun</option>
		                <option value="Jul">Jul</option>
    		            <option value="Aug">Aug</option>
        		        <option value="Sep">Sep</option>
            		    <option value="Oct">Oct</option>
		                <option value="Nov">Nov</option>
        		        <option value="Dec">Dec</option>
		            </select>
        		
                    <select name="day" >
          	           	<option value="01">01</option>
            		    <option value="02">02</option>
		                <option value="03">03</option>                
		            </select>
            
        		    <select name="year" >
                      	<option value="2009">2009</option>
          				<option value="2010">2010</option>
		                <option value="2011">2011</option>                
		            </select>            
        	  </div>
          
	          <div class="templatemo_form_col">
				<label> Return : </label><br />
	    	      	<select name="month" >
    	    	    	<option value="Jan">Jan</option>
        	    	    <option value="Feb">Feb</option>
	            	    <option value="Mar">Mar</option>
    	            	<option value="Apr">Apr</option>
	    	            <option value="May">May</option>
    	    	        <option value="Jun">Jun</option>
        	    	    <option value="Jul">Jul</option>
            	    	<option value="Aug">Aug</option>
		                <option value="Sep">Sep</option>
    		            <option value="Oct">Oct</option>
        		        <option value="Nov">Nov</option>
	        	        <option value="Dec">Dec</option>
    	        	</select>
	
    	            <select name="day" >        
		            	<option value="01">01</option>
        		        <option value="02">02</option>
		                <option value="03">03</option>                
		            </select>
            
        		    <select name="year" >          
		            	<option value="2009">2009</option>
        		        <option value="2010">2010</option>
                		<option value="2011">2011</option>                
		            </select>
            
        		</div>
                
                <div class="templatemo_form_col">
					<input type="submit" name="Search" value="Search" alt="Search" id="button" title="Search" />
				</div>
                
			</form>
		</div>
		</div>
	</div>

  </div>
  <div id="templatemo_content_footer"></div>

  <div id="templatemo_footer_section">

    <div id="templatemo_footer_left">

      <p><a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a><a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a></p>

      <p>Copyright © Your Company Name <!-- Credit: www.templatemo.com --></p>

    </div>

    <div id="templatemo_footer_right">

      <strong>QUICK CONTACT</strong>

      <p>Tel: 010-010-0100 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Mobile: 030-030-0300<br />

      Fax: 020-020-0200 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email: info [at] company.com</p>

    </div>

  </div>

</div>
<!-- templatemo 056 travel -->
<!-- 
Travel Template 
http://www.templatemo.com/preview/templatemo_056_travel 
-->
</body>
<!--  Designed by w w w . t e m p l a t e m o . c o m  --> 
</html>