<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--  Designed by w w w . t e m p l a t e m o . c o m  --> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Jean Shop - free template by templatemo</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="templatemo_container">
    	<div id="templatemo_header_section">
        	<div id="templatemo_menu">
            	<div id="left">
                </div>
                <div id="mid">
					<ul>
                		<li><a href="index.html" class="current">Home</a></li>
                    	<li><a href="#">Products</a></li>
                    	<li><a href="#">Gallery</a></li>
                        <li><a href="#">About</a></li>
                    	<li><a href="#">Contact</a></li>
                	</ul>
                </div>
                <div id="right">
                </div>
            </div>
        </div><!--  End Of Header Section -->
        
        <div id="templatemo_content_section">
        	
            <div id="templatemo_right_section">
        		<div class="templatemo_content">
                	<h1><span class="black">About</span> <span class="red">Jeans</span></h1>
                	<span class="post">Posted By: Admin</span> <span class="post">Category : Pants</span> <span class="post">Date: 18:30, 19 October 2024</span>
                	<p>Free CSS template is provided by <a href="#">TemplateMo.com</a>. You may download, modify and apply this layout for any of your websites.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec dui. Donec nec neque ut quam sodales feugiat. Nam vehicula dapibus lectus. Integer imperdiet pretium dolor. Vivamus felis. Vivamus vulputate vehicula mi. Maecenas consectetur purus. </p>
                    <p>Vestibulum id mi vitae nunc vulputate ullamcorper. Donec feugiat orci sed sapien. Fusce risus sem, egestas quis, imperdiet id, pellentesque vel, tortor. Fusce ante. Nunc at mi nec urna mollis ullamcorper. Nam aliquet, ligula in aliquet molestie, nunc arcu tristique nibh. </p> 
                    
                   
				</div><!--  End Of Content -->
                
                <div class="templatemo_content">
                	<h1><span class="black">Jeans</span> <span class="red">Gallery</span></h1>
                    <span class="post">Posted By: Admin</span> <span class="post">Category : Shirts</span> <span class="post">Date: 19:45, 13 October 2024</span>
					<div class="templatemo_gallery">
						<div class="box">
    	                	<img alt="image" src="images/templatemo_gallery_img.jpg" />
	                        <div class="text">
                        		No. 2020
                        	</div>
						</div>
						<div class="box">
    	                  	<img alt="image" src="images/templatemo_gallery_img2.jpg" />
	                        <div class="text">
                        		No. 2030
                        	</div>
						</div>
						<div class="box">
                      		<img alt="image" src="images/templatemo_gallery_img.jpg" />
                        	<div class="text">
                        		No. 2040
							</div>
						</div>
						<div class="box">
							<img alt="image" src="images/templatemo_gallery_img2.jpg" />
							<div class="text">
	                        	No. 2050
							</div>
						</div>
                    </div><!--  End Of Gallery -->
					<div class="templatemo_gallery">
						<div class="box">
    	                	<img alt="image" src="images/templatemo_gallery_img2.jpg" />
	                        <div class="text">
                        		No. 2060
                        	</div>
						</div>
						<div class="box">
    	                  	<img alt="image" src="images/templatemo_gallery_img.jpg" />
	                        <div class="text">
                        		No. 2070
                        	</div>
						</div>
						<div class="box">
                      		<img alt="image" src="images/templatemo_gallery_img2.jpg" />
                        	<div class="text">
                        		No. 2080
							</div>
						</div>
						<div class="box">
							<img alt="image" src="images/templatemo_gallery_img.jpg" />
							<div class="text">
	                        	No. 2090
							</div>
						</div>
                    </div><!--  End Of Gallery -->
                    <br  />
                    <a href="#"><span class="more"></span></a>
                    <a href="http://validator.w3.org/check?uri=referer">
     		       	<img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" />
				</a>
            	  <a href="http://jigsaw.w3.org/css-validator/check/referer">
            		<img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" />                 
                 </a>
				</div><!--  End Of Content -->
                
        	</div><!--  End Of Right Section -->
        	<div id="templatemo_copyright">            	
				Copyright © Your Company Name <!-- Credit: www.templatemo.com -->
            </div>
        </div><!--  End Of Content Section -->
    </div><!--  End Of Container -->
<!-- templatemo 066 jean -->
<!-- 
Jean Template 
http://www.templatemo.com/preview/templatemo_066_jean 
-->
</body>
<!--  Free CSS Template is designed by TemplateMo.com  -->
</html>