<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Yellow Star - Free CSS Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 326 yellow star -->
<!-- 
Yellow Star Template 
http://www.templatemo.com/preview/templatemo_326_yellow_star
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="templatemo_body_wrapper">

	<div id="templatemo_wrapper">

		<div id="templatemo_header">
			
			<div id="site_title"><h1><a href="#">Yellow Star</a></h1></div>
			
			<div id="twitter"><a href="#"></a></div>
			
			<div class="cleaner"></div>
			
		</div> <!-- end of templatemo header -->
    
		<div id="templatemo_menu">
			<ul>
				<li><a href="index.html" class="current">Home</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul> 
			   	
			<div class="cleaner"></div>
		</div> <!-- end of templatemo_menu -->
    
		<div id="templatemo_middle">
			
		   	<div class="col_allw280 frontpage_box">
				<img src="images/icon1.png" alt="Icon 01" />
				<span class="tagline">Suspendisse egestas tellus</span>
				<h2>Web Design</h2>
				<p>templatemo.com provides high quality free css templates for your personal or commercial websites. Please tell your friends about templatemo. You may download, edit and use this template.</p>
			  <a href="#">More</a>
		  	</div>
			
			<div class="col_allw280 frontpage_box">
				<img src="images/icon2.png" alt="Icon 02" />
				<span class="tagline">Morbi tincidunt lacinia mauris</span>
				<h2>Online Advertising </h2>
				<p>Ut lorem sapien, sodales ut sollicitudin ut, fermentum euismod dolor. Aenean sed felis non sapien consectetur adipiscing eget vitae eros. Nulla facilisi adipiscing elit.</p>
				<a href="#">More</a>
			</div>
			
			<div class="col_allw280 frontpage_box col_last">
				<img src="images/icon3.png" alt="Icon 03" />    
				<span class="tagline">Aenean feugiat fermentum </span>        
				<h2>CSS Templates </h2>
				<p>Sed nisi quam, egestas ac bibendum eu, dictum id enim. Pellentesque et magna neque accumsan nisi. Vivamus aliquet <a href="#">metus id magna</a> semper. Fusce pharetra lorem sit amet.</p>
				<a href="#">More</a>
		  	</div>
			
        	<div class="cleaner"></div>
		</div> <!-- end of middle -->
    
    	<div id="templatemo_main">
			<div class="col_allw280">
				<h2>Featured Work</h2>
				<img class="image_wrapper" src="images/templatemo_image_01.jpg" alt="Image 01" />
				<p>Donec justo nisl, euismod id consectetur nec, egestas nec nisi. Ut nec fermentum lectus. </p>
				<a href="#">Read more</a>
			</div>
        
			<div class="col_allw280">
				<h2>Updates</h2>
		  <div class="fp_post">
					<a href="#">Nullam ullamcorper ante a laoreet</a>
					<p>In risus neque, mattis vel cursus egestas, tempus in mi. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
				</div>
				
				<div class="fp_post">
					<a href="#">Suspendisse ac quam nec velit fringilla</a>
					<p>Praesent lectus nulla, porta id tincidunt eget, imperdiet sit amet leo. </p>
				</div>
				<a href="#">Read All</a>
			</div>
        
			<div class="col_allw280 col_last">
				<h2>Testimonial</h2>
				<blockquote>
					<p>Nullam fermentum risus vitae lectus posuere sagittis. Praesent faucibus, dui vitae condimentum semper, dolor augue ornare elit, quis congue ante lacus id dui. Donec gravida auctor ante, ac tincidunt purus dictum et. Aliquam erat volutpat.</p>
					<cite>Walker  - <span>UI Designer</span></cite>
				</blockquote>
			</div>
        
        	<div class="cleaner"></div>
    	</div>

	</div> <!-- end of wrapper -->

	<div id="templatemo_footer_wrapper">
		<div id="templatemo_footer">
		
			<div class="col_allw280">
				<h5>Our Pages</h5>
				<ul class="tmo_list">
					<li><a href="index.html">Home</a></li>
					<li><a href="gallery.html">Gallery</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="blog.html">Blog</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
        
			<div class="col_allw280">
				<h5>Links</h5>
				<ul class="tmo_list">
					<li><a href="#">Etiam ultrices nisi non purus</a></li>
					<li><a href="#">In adipiscing ante non tortor</a></li>
					<li><a href="#">Nullam varius urna ac purus</a></li>
					<li><a href="#">Proin sollicitudin pulvinar velit</a></li>
					<li><a href="#">Quisque vehicula dui magna</a></li>
				</ul>    
			</div>
        
			<div class="col_allw280 col_last">
				<h5>Follow Us</h5>
				<p>Donec fringilla nibh a odio imperdiet ornare. Integer non massa felis, id pellentesque elit. Mauris mollis, metus ut adipiscing egestas.<a href="aboutus.html"></a></p>
				
				<ul id="social_box">
					<li><a href="#"><img src="images/facebook.png" alt="facebook" /></a></li>
					<li><a href="#"><img src="images/twitter2.png" alt="twitter" /></a></li>
					<li><a href="#"><img src="images/linkedin.png" alt="linkin" /></a></li>
					<li><a href="#"><img src="images/technorati.png" alt="technorati" /></a></li>
					<li><a href="#"><img src="images/myspace.png" alt="myspace" /></a></li>                
				</ul>
				
			</div>
        
        	<div class="cleaner"></div>
    	</div> <!-- end of footer -->
	</div>

	<div id="templatemo_copyright_wrapper">
		<div id="templatemo_copyright">
			Copyright © 2048 <a href="#">Your Company Name</a>
		</div>
	</div> 

</div> <!-- end of templatemo body wrapper -->

</body>
</html>