<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Art Gallery - Free Website Template, XHTML, CSS</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="templatemo_wrapper">
	<div id="templatemo_content">
	    <div id="column_left_column">
<div class="section_w470">
            	
                <h2>The Art Gallery</h2>
                <p>Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos used in this template. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor, arcu sit amet auctor luctus, lectus sem rhoncus felis, dignissim convallis nulla quam ac dolor. Duis sollicitudin libero et odio dapibus quis pulvinar leo tempus. Cras auctor, arcu sit amet auctor luctus, lectus sem rhoncus felis, dignissim convallis nulla quam ac dolor.</p>
                
<ul class="gallery">
                	<li><a href="#"><img src="images/templatemo_image01.jpg" alt="image" /> </a></li>
                    <li><a href="#"><img src="images/templatemo_image02.jpg" alt="image" /> </a></li>
                    <li><a href="#"><img src="images/templatemo_image03.jpg" alt="image" /> </a></li>
                    <li><a href="#"><img src="images/templatemo_image04.jpg" alt="image" /> </a></li>
                    <li><a href="#"><img src="images/templatemo_image05.jpg" alt="image" /> </a></li>
                    <li><a href="#"><img src="images/templatemo_image06.jpg" alt="Free Templates" /> </a></li>
                    <li><a href="#"><img src="images/templatemo_image07.jpg" alt="image" /> </a></li>
                    <li><a href="#"><img src="images/templatemo_image08.jpg" alt="image" /> </a></li>
                </ul>
                <div class="button_01"><a href="#">view</a></div>
                
            </div>
        
        </div> <!-- end of left column -->
        
        <div id="column_right_column">
			
            <div id="templatemo_menu">
                <ul>
                    <li><a href="#" class="current">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Gallery</a></li>
					<li><a href="#">About</a></li>
                    <li><a href="#" class="last">Contact</a></li>
                </ul>
            </div> <!-- end of menu -->
            
            <div id="templatemo_site_title">
            	<h1>
                	<a href="#">
                	<img src="images/templatemo_logo.png" alt="logo" />
                    <span>free xhtml css template</span>                    </a>                </h1>
          </div>
            
          <div class="section_w475">
            <h2>Welcome to our WEBSITE</h2>
            <p>This is a standard compliant XHTML/CSS layout, or free website template, provided by <a href="#">TemplateMo</a>. You may download, modify and apply this template for your commercial or personal websites.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras auctor, arcu sit amet auctor luctus, lectus sem rhoncus felis, dignissim convallis nulla quam ac dolor. Duis sollicitudin libero et odio dapibus quis pulvinar leo tempus.</p>
            <p>Fusce urna tortor, consequat eu lobortis sit amet, ullamcorper eget nulla. Vivamus quis quam vitae neque mattis elementum. Duis a nulla sed metus blandit posuere. Quisque elementum consequat felis.</p>
          </div>
            
            <div class="cleaner_h30"></div>
            
          <div class="section_w475">
                <h2> Featured Projects</h2>
				
      <div class="project_box">
                    <div class="section_w200 fl">
                        <img class="image_wrapper fl_image" src="images/templatemo_image09.jpg" alt="photo two" />	
                    </div>
                    <div class="section_w250 fr">
                        <h3>Multimedia Project</h3>
                        <p>In neque odio, faucibus vitae tincidunt ut, laoreet nec elit. Maecenas semper, ligula eu accumsan pellentesque, massa nisl dignissim mauris, quis laoreet magna ipsum nec ipsum.</p>
                      <div class="button_01"><a href="#">details</a></div>
                    </div>  
                    <div class="cleaner"></div>              
				</div>
                
                <div class="cleaner_h20"></div>
                
                <div class="project_box">
                    <div class="section_w200 fl">
                        <img class="image_wrapper fl_image" src="images/templatemo_image10.jpg" alt="photo one" />	
                    </div>
                    <div class="section_w250 fr">
                        <h3>Web Design Project</h3>
                        <p>Nunc vulputate, lacus ac aliquet congue, ipsum augue luctus leo, sit amet laoreet nunc sem quis purus. Vestibulum vitae placerat felis. Nunc vitae sapien sed dui volutpat pharetra sed viverra nisl.</p>
                      <div class="button_01"><a href="#">details</a></div>
                  </div> 
                    <div class="cleaner"></div>               
				</div>
            </div>
        </div>
        <div class="cleaner"></div>
    </div> <!-- end of container -->
</div> <!-- end of wrapper -->
<div id="templatemo_footer">
<ul class="footer_menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">About</a></li>
        <li class="last_menu"><a href="#">Contact</a></li>
    </ul>
    Copyright © 2024 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com --> | 
    Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></div> 
<!-- end of footer -->
<!-- templatemo 135 art gallery -->
<!-- 
Art Gallery Template 
http://www.templatemo.com/preview/templatemo_135_art_gallery 
-->
</body>
</html>