<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Biograph Web Design, Free CSS Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>
<div id="templatemo_wrapper">
	<div id="templatemo_menu">
        <ul>
            <li><a href="#" class="current">Home</a></li>
            <li><a href="subpage.html">Services</a></li>
            <li><a href="subpage.html">Clients</a></li>
            <li><a href="subpage.html">Portfolio</a></li>
            <li><a href="subpage.html">About Us</a></li>
            <li><a href="subpage.html">Contact Us</a></li>
        </ul>  
    </div><!-- end of templatemo_menu -->
    
    <div id="templatemo_header">

        <div id="site_title">
			<a href="#">
                <img src="images/templatemo_logo.png" alt="Free CSS Template" />
            </a>
        </div> <!-- end of site_title -->
    
    </div> <!-- end of templatemo_header -->
    
    <div id="templatemo_content_wrapper_outter">
    	
        <div id="templatemo_content_wrapper">
        
        	<div class="content_section">
            
            	<h2>Featured Clients</h2>
            
       	  <div class="section_w250 margin_r40">
                	<div class="project_image">
	                	<a href="#"><img src="images/templatemo_image_01.jpg" alt="free template 1" /></a>                    
                    </div>
            		<p>Aliquam sed odio vel eros iaculis placerat quis vitae odio. Nunc feugiat purus vel odio vestibulum at ultricies nisl tempus. </p>
                    <div class="readmore"><a href="subpage.html"></a></div>
                </div>
                
                <div class="section_w250 margin_r40">
                	<div class="project_image">
	                	<a href="#"><img src="images/templatemo_image_03.jpg" alt="free template 2" /></a>                     
                    </div>
                  	<p>Vivamus eget elit at nulla tempor aliquam sit amet dapibus nisi. Donec non tortor et elit adipiscing accumsan. </p>
                    <div class="readmore"><a href="subpage.html"></a></div>                     
                </div>
                
                <div class="section_w250">
                
                	<div class="project_image">
	                	<a href="#"><img src="images/templatemo_image_02.jpg" alt="free template 3" /></a>                    
                    </div>
                  	<p>Nullam varius eros in ipsum ullamcorper sit amet posuere dolor tempor. Pellentesque habitant morbi tristique senectus.</p>
                    <div class="readmore"><a href="subpage.html"></a></div>                    
                    
                </div>
                
                <div class="cleaner"></div>

            </div>
            
            <div class="h_divider"></div>
            
            <div class=" cleaner_h40"></div>
            
            <div class="content_section">
            
            	<div class="section_w250 margin_r40">
                
                	<h2>Our Services</h2>
                	<p>Etiam nec purus eu ligula molestie pulvinar quis ac tortor. Nulla malesuada risus.</p>
                  
                  <ul class="service">
                   	  <li>Praesent condimentum magna ut </li>
                      <li>Nunc luctus eros eu enim gravida ut </li>
                      <li>Phasellus nec ante eget felis sagittis </li>
                      <li>Morbi pellentesque tellus adipiscing </li>
                      <li>Nunc accumsan sagittis sem, ut </li>
                      <li>Praesent condimentum magna ut </li>
                  </ul>
                  
                  <div class="readmore"><a href="#"></a></div>
                </div>
                
                <div class="section_w250 margin_r40">
                	
                    <h2>Latest Posts</h2>
                	<div class="news_box">
                        <a href="subpage.html">Fusce sit amet nunc lectus, at pretium augue. Pellentesque tortor felis, porttitor ac gravida quis, vestibulum at lorem. </a>
                        <p class="post_info">Posted in <a href="#">News</a> by <a href="#">Admin</a> on <span>October 24, 2048</span></p>
                    </div>
                    
                    <div class="news_box">
                        <a href="subpage.html">Integer imperdiet, justo ut venenatis vehicula, magna mi placerat felis, nec ornare lorem neque eget enim..</a>
                        <p class="post_info">Posted in <a href="#">News</a> by <a href="#">Admin</a> on <span>October 22, 2048</span></p>
                  </div>
                    
                    <div class="readmore"><a href="#"></a></div>                     
                </div>
                
                <div class="section_w250">
                
                	<h2>Testimonial</h2>
                	<p>Nullam sit amet mi sed lectus fringilla pharetra sed quis purus. Mauris sagittis mauris at est porttitor blandit. Phasellus velit velit, posuere eget vehicula non, fringilla ut ante.</p>
                    - <a href="#">TemplateMo</a>
                    
                    <div class="cleaner_h30"></div>
                    
                    <p>Mauris dictum leo quis lacus venenatis at semper quam laoreet. Donec molestie libero id arcu laoreet ac consectetur enim blandit. Nulla ut nunc lorem, at porttitor nunc.</p>
                    - <a href="#">FlashMo</a></div>
                
                <div class="cleaner"></div>

            </div>
            
            <div class="cleaner"></div>
        </div> <!-- end of templatemo_content_wrapper -->
    
    	<div class="cleaner">&nbsp;</div>
    </div> <!-- templatemo_content_wrapper_outter -->
    
    <div id="templatemo_footer">
    	 Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com --> | 
         Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>    
    </div> <!-- end of templatemo_footer -->

</div> <!-- end of templatemo_wrapper -->
<!-- templatemo 174 biograph -->
<!-- 
Biograph Template 
http://www.templatemo.com/preview/templatemo_174_biograph 
-->
</body>
</html>