<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Gift Layout - Free CSS Template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<!--  Designed by w w w . t e m p l a t e m o . c o m  --> 
</head>

<body>
<!--templatemo main body start -->
<div id="templatemo_mainBody">
<!--templatemo left side start -->
<div id="templatemo_leftPan"></div>
<div id="templatemo_headertext">
<p class="head1">Gift Company</p>
<p class="head2">Free CSS Website Template</p>
</div>
<!--templatemo contact start -->

<div id="templatemo_contact">
<h2>Our Gift Products</h2>
<p>This CSS website template is provided by <a href="#">TemplateMo.com</a> for free. You may download, modify and apply this CSS layout for your websites. Credit goes to <a rel="nofollow" href="http://www.publicdomainpictures.net" target="_blank">PublicDomainPictures.net</a> for photos.</p>

<p>
    <img src="images/templatemo_images1.jpg" alt="image 1" width="85" height="85" />
    &nbsp;<img src="images/templatemo_images2.jpg" alt="image 2" width="85" height="85" />
    &nbsp;<img src="images/templatemo_images3.jpg" alt="image 3" width="85" height="85" />
    &nbsp;<img src="images/templatemo_images4.jpg" alt="image 4" width="85" height="85" /></p>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
<p>Maecenas adipiscing elementum ipsum. Pellentesque vitae magna. Sed nec est. Suspendisse a nibh tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante tristique vestibulum.<br />
  ........................................................................................................ </p>
<h2>About Our Company</h2>
<p class="boxtext">Curabitur nec odio. Phasellus tincidunt, tortor lacinia blandit commodo, nunc augue mattis eros, ut convallis est augue vel orci. Nunc ante erat, varius eu, luctus ac, tristique nec, justo. Fusce dignissim eros ac massa. Phasellus ligula augue, vestibulum in, cursus non, euismod et, pede.</p>
  <p><a href="#">Read More</a></p>
<!--templatemo contact end -->
</div>

<div id="templatemo_arch">
<!--templatemo right link start -->
<span></span>
<h2>Menu</h2>
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Products</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Awards</a></li>
<li><a href="#">About Us</a></li>
<li class="nobor"><a href="#">Contact Us</a></li>
</ul>
<h3>May 2020</h3>
<ul>
<li><a href="#">Products</a></li>
<li><a href="#">Services</a></li>
<li><a href="#">Awards</a></li>
<li><a href="#">Clients</a></li>
<li class="nobor"><a href="#">Web Design</a></li>
</ul>
<h3>June 2020</h3>
<ul>
<li><a href="#">HTML</a></li>
<li><a href="#">CSS</a></li>
<li class="nobor"><a href="#">Flash</a></li>
</ul>
<p></p>
</div>
<!--templatemo right link end -->

<div id="templatemo_buffer"></div>
<!--templatemo footer start -->
    <div id="templatemo_footer">
    <ul>
    <li><a href="#">Home</a>|</li>
    <li><a href="#">Our Firms</a>|</li>
    <li><a href="#">Who We Are</a>|</li>
    <li><a href="#">Testimonials</a>|</li>
    <li><a href="#">Finance</a>|</li>
    <li><a href="#">Contact Us</a></li>
    </ul>
    
        <div id="templatemo_footer_text">
        Tel: 000-100-1000, Fax: 000-200-2000, Email: info-at-company.com <br />
        Copyright ©  Your Company Name <!-- Credit: www.templatemo.com -->
        
        <br /><br />
        <a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a> <a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a> 
        </div>
    </div>
</div>
<!--  Designed by w w w . t e m p l a t e m o . c o m  --> 
<!--templatemo footer end -->
<!-- templatemo 044 gift -->
<!-- 
Gift Template 
http://www.templatemo.com/preview/templatemo_044_gift 
-->
</body>
</html>