<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Green Home Blog</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!-- templatemo 324 green home -->
<!-- 
Green Home Template
http://www.templatemo.com/preview/templatemo_324_green_home
-->
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>
<body>

<div id="templatemo_document_wrapper">
	<div id="templatemo_wrapper">
	
		<div id="templatemo_menu">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="services.html">Services</a></li>
				<li><a href="blog.html" class="current">Blog</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>    	
		</div> <!-- end of templatemo_menu -->
		
		<div id="templatemo_header">
			<div id="site_title">
				<h1><a href="#"><img src="images/templatemo_logo.png" alt="Green Home Template" /></a></h1>
			</div> <!-- end of site_title -->    
			<div id="header_content">
				<p>
				Etiam faucibus, justo eget sodales accumsan, tellus mi venenatis orci, id dapibus erat libero tristique ante. </p>
				<a href="#" class="more">More</a>
			</div>
		</div>
		
		<div id="templatemo_main">
		
			<div class="news_box">
			
				<h2>Morbi sed nulla ac est cursus </h2>		
				<div class="news_meta">May 30th in <a href="#">Web Templates</a> by <a href="#">George</a></div>
						
				<img class="image_wrapper" src="images/templatemo_image_04.jpg" alt="Image 04" />
				<p>Vestibulum auctor euismod mi et tincidunt. Mauris  vitae ipsum diam, sagittis tempor velit. Sed fringilla accumsan mi, et gravida mauris elementum ac. Praesent vel felis id lectus bibendum tempor sed sagittis tellus. Morbi mattis, nunc at euismod luctus, lacus neque volutpat est, at pharetra lacus erat nec mauris. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow"><strong>XHTML</strong></a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow"><strong>CSS</strong></a>.</p>
				
				<div class="cleaner_h20"></div>
			  <div class="float_l"><a href="#" class="comment">768 comments</a></div> 
			  <div class="btn_more float_r"><a href="#">More</a></div>  
				
				<div class="cleaner"></div>
			</div>
				
			 <div class="news_box news_box_odd">
		
				<h2>Sed eu libero quis neque</h2>		
			   <div class="news_meta">May 26th in <a href="#">3D Animations</a> by <a href="#">John Stanny</a></div>
						
				<img class="image_wrapper" src="images/templatemo_image_05.jpg" alt="Image 05" />
				<p>Ut eu dolor nunc. Nam in nunc sed mi adipiscing lacinia suscipit eget tortor. <a href="#">Vivamus lacinia</a> lectus in velit aliquet ac placerat magna euismod. In hac habitasse platea dictumst. Integer eget nibh eu libero cursus ultricies. Nam ac eros erat. Integer varius pulvinar molestie.</p>
				
			  <div class="cleaner_h20"></div>
			  <div class="float_l"><a href="#" class="comment">512 comments</a></div> 
			  <div class="btn_more float_r"><a href="#">More</a></div>  
				
				<div class="cleaner"></div>
			</div>	
			
			<div class="news_box news_box_last">
			
				<h2>Fusce quis diam sit amet tortor</h2>		
				<div class="news_meta">May 24th in <a href="#">CSS Templates</a> by <a href="#">Andrew</a></div>
						
				<img class="image_wrapper" src="images/templatemo_image_06.jpg" alt="Image 06" />
				<p>Nam at arcu libero, ut venenatis elit. Nulla eget risus turpis, non aliquet dui. Vivamus augue felis, ultricies elementum convallis non, ornare vitae urna. Morbi et nisi eros, ut venenatis ipsum. <a href="#">Suspendisse ut</a> mauris justo, semper posuere ipsum. Sed in urna diam. Ut pharetra odio sed purus molestie dapibus cursus lacus sodales, quis pellentesque nisi.</p>
				
				<div class="cleaner_h20"></div>
			  <div class="float_l"><a href="#" class="comment">256 comments</a></div> 
			  <div class="btn_more float_r"><a href="#">More</a></div>  
				
				<div class="cleaner"></div>
			</div>
				
			<div class="news_box news_box_odd news_box_last">
		
			   <h2>Aliquam sit amet odio vitae dui</h2>		
			   <div class="news_meta">May 16th in <a href="#">User Interfaces </a> by <a href="#">Juvinho</a></div>
						
			   <img class="image_wrapper" src="images/templatemo_image_07.jpg" alt="Image 07" />
			   <p>In hac habitasse platea dictumst. Pellentesque vel urna dui. Morbi et quam sed est ultrices cursus. Etiam laoreet consectetur nisi in vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris ac nisl ut arcu hendrerit aliquet. Praesent eget porttitor dui. Nunc non est ligula. </p>
				
			  <div class="cleaner_h20"></div>
			  <div class="float_l"><a href="#" class="comment">128 comments</a></div> 
			  <div class="btn_more float_r"><a href="#">More</a></div>  
				
				<div class="cleaner"></div>
		   </div>  
			
			<div class="cleaner"></div>
		</div>
		
	</div> <!-- end of wrapper -->
</div>

<div id="templatemo_footer_wrapper">
	<div id="templatemo_footer">
    
        <a href="index.html">Home</a> | <a href="services.html">Services</a> | <a href="blog.html">Blog</a> | <a href="gallery.html">Gallery</a> | <a href="contact.html">Contact</a><br /><br />

        Copyright © 2048 <a href="#">Your Company Name</a>
    
    </div> <!-- end of templatemo_footer -->
</div>

</body>
</html>