<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>Art Gallery - free CSS template</title>

<meta name="keywords" content="" />

<meta name="description" content="" />

<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

</head>

<body>

<div id="templatemo_container">

  <div id="templatemo_topsection">

    <div class="templatemo_topmenu">

       <ul>

        <li><a href="#">HOME</a></li>

        <li><a href="#">PORTFOLIO</a></li>

        <li><a href="#">COMPANY</a></li>

        <li><a href="#">CONTACT</a></li>
       </ul>

    </div>

  </div>

  <div id="templatemo_middlesection">

    <div id="templatemo_left_content">

      <div id="templatemo_left_top"><img src="images/templatemo_left_photo.jpg" alt="templatemo.com" /></div>

        <h2>CATEGORIES</h2>

      <div class="templatemo_leftmenu">

        <ul>

        <li> <a href="#">»  Web Design</a></li>

        <li> <a href="#">»  Photo Gallery</a></li>

        <li> <a href="#">»  Flash Templates</a></li>

        <li> <a href="#">»  CSS Templates</a></li>

      </ul></div>

        <h2>PORTFOLIO</h2>

      <div class="templatemo_leftmenu">

      <ul>

        <li> <a href="#">»  Quisque rhoncus nulla</a></li>

        <li> <a href="#">»  Suspendisse a nibh</a></li>

        <li> <a href="#">»  Maecenas adipiscing</a></li>

      </ul>

    </div>

      <h2>QUICK LINKS</h2>

        <div class="templatemo_leftmenu">

          <ul>
    
            <li> <a href="#">»  Duis scelerisque</a></li>
    
            <li> <a href="#">»  Maecenas aliquam</a></li>
    
            <li> <a href="#">»  Vestibulum quis pede</a></li>
    
          </ul>

    </div>

    </div>

    <div id="templatemo_right_content">

      <div id="templatemo_right_text">

      <h1>WELCOME TO OUR WEBSITE</h1>

      <p>This is a FREE CSS web template provided by <a href="#">TemplateMo.com</a>. You may apply this layout for any of your websites. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem  nec tellus blandit tincidunt.</p>

      <p>Duis vitae velit sed dui malesuada  dignissim. Donec mollis aliquet ligula. Maecenas adipiscing elementum  ipsum. Pellentesque vitae magna. Sed nec est. Suspendisse a nibh  tristique justo rhoncus volutpat. Suspendisse vitae neque eget ante  tristique vestibulum.</p>

      <p>Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci.  Mauris convallis. Proin vel libero id erat venenatis accumsan. Nunc  blandit orci sit amet risus. Lorem ipsum dolor sit amet, consectetuer  adipiscing elit. Ut iaculis lacinia purus. Duis pulvinar scelerisque  ante.</p>

      <h1>OUR LATEST WORK</h1>

      <p><img src="images/templatemo_photo.jpg" title="art gallery" alt="templatemo.com" width="249" height="162" />Cum sociis natoque penatibus et magnis dis parturient montes, nascetur  ridiculus mus. Curabitur quis velit quis tortor tincidunt aliquet.  Vivamus leo velit, convallis id, ultrices sit amet, tempor a, libero.  Quisque rhoncus nulla quis sem.</p>

      <p>In sed risus ac felis varius bibendum. Vestibulum dapibus tortor vel orci. Maecenas  vulputate, arcu id fermentum eleifend, tortor enim tincidunt mauris,  fringilla tincidunt purus urna vel risus. Fusce vulputate tellus ac  felis. Praesent mauris. Quisque gravida faucibus ligula. Aliquam magna.  Phasellus id felis.</p>

      <h1>Aliquam tristique lacus in sapien</h1>

      <p>Nulla enim nibh, consectetuer sed, vestibulum elementum, sagittis nec, diam. Mauris blandit vehicula neque. Proin consectetuer. Donec venenatis. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc.</p>
      <p>Aliquam elit risus, volutpat quis, mattis ac, elementum eget, mauris. In hac habitasse platea dictumst. Aenean cursus. Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque.</p>
      <p><a href="http://validator.w3.org/check?uri=referer"><img height="31" alt="Valid XHTML 1.0 Transitional" src="http://www.w3.org/Icons/valid-xhtml10" width="88" vspace="8" border="0" /></a><a href="http://jigsaw.w3.org/css-validator/check/referer"><img alt="Valid CSS!" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" vspace="8" border="0" /></a></p>

      </div>

    </div>

  </div>

  <div id="templatemo_footersection">Copyright © Your Company Name <!-- Credit: www.templatemo.com --></div>

</div>
<!-- templatemo 046 art gallery -->
<!-- 
Art Gallery Template 
http://www.templatemo.com/preview/templatemo_046_art_gallery 
-->
</body>
</html>