<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Creative Idea, CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="templatemo_container_bg">
        <div id="templatemo_container">
        	<div id="templatemo_header">
            	<div id="templatemo_menu">
                    <ul>
                        <li class="current"><a href="#" ><b>Home</b></a></li>
                        <li><a href="#"><b>Web Gallery</b></a></li>
                        <li><a href="#"><b>Free Templates</b></a></li>	
                        <li><a href="#"><b>Portfolio</b></a></li>	
                        <li><a href="#"><b>About</b></a></li>
                      	<li><a href="#"><b>Contact</b></a></li>
                    </ul>
                </div>
            </div>
            
            <div id="templatemo_content_area">
                <div class="templatemo_one_col">
                    <div class="templatemo_section_1">
                    	<h1>Section One</h1>
       	  				<ul class="templaetmo_list">
                        	<li><a href="#">Categories</a></li>
							<li><a href="#">Tutorials</a></li>
							<li><a href="#">Design Blogs</a></li>
							<li><a href="#">Free Downloads</a></li>
							<li><a href="#">Flash Templates</a></li>
							<li><a href="#">Photography</a></li>
                    	</ul>
                        
                    </div>
                    
                    <div class="templatemo_v_line">
                    </div>
                    
                    <div class="templatemo_section_2">
                    	<h1>FREE CSS TEMPLATE</h1>
                        <p>This is a <a href="#">free CSS template</a> provided by TemplateMo website. You may download, modify and apply this layout for your websites.</p>
                        <p>Gravida magna blandit id. Mauris est dolor, malesuada quis pellentesque vitae viverra. Curabitur sed magna sem, nec fermentum velit. Integer conv dui. Donec ac dolor non justo sollicitudin faucibus.</p>
                        <p>Aliquam cursus augue. Ligula odio, pellentesque non vestibulum sit amet, sodales vitae est. Aeneat eu tortor. Suspendisse potenti. Integer adipiscing, augue sed gravida susci</p>
                  </div>
                    
                    <div class="templatemo_v_line">
                    </div>
                    
                    <div class="templatemo_section_1">
                    <h1>Section Two</h1>
					<ul class="templaetmo_list">
                        <li><a href="#">Donec interdum</a></li>
						<li><a href="#">Molestie</a></li>
                        <li><a href="#">Ingilla blandit</a></li>
                        <li><a href="#">Nam magna</a></li>
                        <li><a href="#">Donec interdum</a></li>
                        <li><a href="#">Susmolauris</a></li>
                   	</ul>
                    
                    </div>
                    
                    <div class="templatemo_h_line"></div>
                    <div class="cleaner"></div>
                </div><!-- End Of one col-->
                
                <div class="templatemo_one_col">
                	<div class="templatemo_section_3">
                    	<div class="templatemo_title_blue">
                        	Popular Websites
                        </div>
                    	<p>Mauris venenatis nisl nec ipsum dolor sit amet odo
                        fringilla blandit et nec mauris. Nam non magna nibt
                        ullamcorper. Aliquam dictum erat et tellus commo.</p>

						<ul class="templatemo_list_2 blue_list">
							<li><a href="#">Donec interdum tincidunt justo</a></li>
                          	<li><a href="#">Sed pellentesque placerat augue</a></li>
                          	<li><a href="#">Mauris et elit quis mauris aliquet</a></li>
                          	<li><a href="#">Fusce quis diam sit amet tortor</a></li>
                          	<li><a href="#">Qitae malesuada nisl luctus</a></li>
                   	  </ul>  
                    </div>
                    
                    <div class="templatemo_section_3 templatemo_section_3_mid">
                    	<div class="templatemo_title_red">
                        	Design Blogs</div>
                    	<p>Sauris est dolor, malesuada quis pel lent esque vit
ae viverra. Cura bit url sed magna sem, nec fer men tum velit. Integer convdui. Donec ac dolor non just.</p>

						<ul class="templatemo_list_2 red_list">
                        	<li><a href="#">Pellentesque lectus justo</a></li>
                          	<li><a href="#">Mauris in sapien in massa</a></li>
                          	<li><a href="#">Etiam sodales massa vel metus</a></li>
                          	<li><a href="#">In hac habitasse platea dictumst</a></li>
                          	<li><a href="#">Suspendisse hendrerit turpis id</a></li>
                      </ul>
                    </div>
                    
                    <div class="templatemo_section_3">
                    	<div class="templatemo_title_violet">
                        	Creative Styles
                        </div>
                        
                    	<p>Tigula odio, pellentesque non vestibulum sita
met, sodales vitae est. Aeneat eu tortor. Sus pendisse potenti. Integer adipiscing, auguesi</p>

						<ul class="templatemo_list_2 violet_list">
							<li><a href="#">Sauris</a></li>
                          	<li><a href="#">Namnon</a></li>
                          	<li><a href="#">Pellentesque</a></li>
                          	<li><a href="#">Namtofenat</a></li>
                          	<li><a href="#">Sollicitudin</a></li>
                   	  </ul> 
                        
                        <ul class="templatemo_list_2 violet_list">
							<li><a href="#">Donec interdum</a></li>
                            <li><a href="#">Tincidunt justo</a></li>
                            <li><a href="#">Aslemtl molestie</a></li>
                            <li><a href="#">Manenatis</a></li>
                            <li><a href="#">Risec ipsum</a></li>
                    	</ul>    
                    </div>
                    
                    <div class="cleaner"></div>
                </div><!-- End Of one col-->

			</div> <!-- End Of Content Area --> 
            
            <div id="templatemo_footer">
                Copyright © 2024 <a href="#">Your Company Name</a> | 
				<!-- Credit: www.templatemo.com -->			
			</div>        
      	</div><!-- End Of Container -->
        <div id="templatemo_container_bottom"></div>
	</div>
<!--  Free CSS Templates by TemplateMo.com  -->
<!-- templatemo 150 creative idea -->
<!-- 
Creative Idea Template 
http://www.templatemo.com/preview/templatemo_150_creative_idea 
-->
</body>
</html>