<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Christmas Night - free css template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="ddsmoothmenu.css" />

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="ddsmoothmenu.js">

/***********************************************
* Smooth Navigational Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

<script type="text/javascript">

ddsmoothmenu.init({
	mainmenuid: "templatemo_menu", //menu DIV id
	orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
	classname: 'ddsmoothmenu', //class added to menu's outer DIV
	//customtheme: ["#1c5a80", "#18374a"],
	contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
})

</script>

	<script type="text/javascript" src="js/swfobject.js"></script>
	<script type="text/javascript">
        var flashvars = {};
        flashvars.xml_file = "photo_list.xml";
        var params = {};
        params.wmode = "transparent";
        var attributes = {};
        attributes.id = "slider";
        swfobject.embedSWF("flash_slider.swf", "flash_grid_slider", "900", "290", "9.0.0", false, flashvars, params, attributes);
    </script>
        
</head>
<body>

<div id="templatemo_wrapper_outter">
<div id="templatemo_wrapper_inner">
<div id="templatemo_wrapper">

	<div id="templatemo_menu" class="ddsmoothmenu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="subpage.html">Services</a>
                <ul>
                    <li><a href="subpage.html">Item One</a></li>
                    <li><a href="subpage.html">Item Two</a></li>
                    <li><a href="subpage.html">Item Three</a></li>
              </ul>
          	</li>
            <li><a href="portfolio.html">Portfolio</a>
                <ul>
                    <li><a href="subpage.html">Page One</a></li>
                    <li><a href="subpage.html">Page Two</a></li>
                    <li><a href="subpage.html">Page Three</a></li>
                    <li><a href="subpage.html" class="selected">Page Four</a></li>
                    <li><a href="subpage.html">Page Five</a></li>
              </ul>
          	</li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <br style="clear: left" />
    </div><!-- end of templatemo_menu -->
    
    <div id="templatemo_header">
    	<div id="site_title"><h1><a href="#">Free CSS Templates</a></h1></div>
	</div> <!-- end of header -->
    
    <div id="templatemo_main_top_sb"></div>
    <div id="templatemo_main_sb">
    	
        <div id="content">
			<div class="content_box">
            	<h2>Subpage Title goes here</h2>
                <div class="image_wrapper image_fl"><span></span><img src="images/templatemo_image_01.jpg" alt="image 1" /></div>
                <p align="justify"><em>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent aliquam velit a magna sodales quis elementum ipsum auctor. Ut at metus leo, et dictum sem</em></p>
              	<p align="justify">Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos used in this page. Suspendisse sed odio ut mi auctor blandit. Nunc aliquam, dolor vitae sollicitudin lacinia, nibh orci sagittis diam, dignissim sodales dui erat nec eros. Fusce quis enim. Aenean eleifend, neque hendrerit elementum sodales, odio erat sagittis quam, sed <a href="#">tempor</a> orci magna vitae tellus. Proin dui mauris, tempor eget, pulvinar sed, pretium sit amet, dui. Proin vulputate justo et quam. Cras nisl eros, elementum eu, iaculis vitae, viverra ut, ligula.</p>
		  </div>
            <div class="content_box content_box_last">
                <h3>Free CSS Templates</h3>
                <div class="image_wrapper image_fr"><span></span><img src="images/templatemo_image_02.jpg" alt="image 2" /></div>
                <p align="justify">Donec scelerisque. Integer ultrices. Donec hendrerit. Maecenas nisl ante, mollis et, tincidunt vitae, feugiat sit amet, mi. Vestibulum urna. Vivamus eu tortor. Phasellus tempus, justo et laoreet varius, odio mi ultrices libero, nec <a href="#">faucibus</a> dui felis eu dui. </p>
              <p align="justify"> In hac habitasse platea dictumst. Curabitur euismod scelerisque lacus. Cras pretium sem sed odio. <a href="#">Vestibulum</a> nisl mauris, malesuada nec, dictum in, molestie in, pede. Curabitur sem ante, condimentum non, cursus quis, eleifend non, libero. Nunc a nulla. Suspendisse vitae orci a ligula egestas bibendum. Vestibulum ultrices. <a href="#">Pellentesque</a> tempus sapien nec sem commodo ullamcorper. Aenean neque. Cras feugiat. In ut ante.   </p>
                <p align="justify">Mauris congue felis at nisi. Donec felis. Pellentesque leo lacus, rhoncus nec, consequat ac, ullamcorper nec, orci. Etiam dictum nisi. Donec enim enim, <a href="#">imperdiet</a> quis, mollis a, elementum a, diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            </div>
            
            <div id="sidebar">
            	<h3>Testimonial</h3>
                <blockquote>
                <p>Fusce nec felis id lacus sollicitudin vulputate. Proin tincidunt, arcu id pellentesque accumsan, neque dolor imperdiet ligula, quis viverra tellus nulla a odio. Curabitur vitae enim risus, at placerat turpis.</p>
                <cite><a href="#">Steve</a> - <span>Web Designer</span></cite>
                </blockquote>
                
                <div class="cleaner h40"></div>
                
                <h3>Featured Project</h3>
                <img src="images/templatemo_image_03.jpg" alt="Project" />
                <p>Aliquam mattis dictum aliquet. Suspendisse ut erat quis massa accumsan laoreet vitae id eros. Vestibulum vitae tellus nisi, vitae venenatis metus. <a href="#">More...</a></p>
            </div>
            <div class="cleaner"></div>
        
    </div> <!-- end of templatemo main -->
    <div id="templatemo_main_bottom"></div>
    
    <div id="templatemo_bottom">
     	<div class="col_allw300">
        	<h4>Pages</h4>
            <ul class="bottom_list">
            	<li><a href="index.html">Home</a></li>
                <li><a href="portfolio.html">Portfolio</a></li>
                <li><a href="blog.html">Blog</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
			</ul>
        </div>
   	  <div class="col_allw300">
        	<h4>Useful Articles</h4>
            <ul class="bottom_list">
            	<li><a href="#">Donec placerat odio at leo suscipit hendrerit</a></li>
            	<li><a href="#">Proin vitae magna eget sem mattis</a></li>
            	<li><a href="#">Integer elit massa, pulvinar non commodo</a></li>
           	  	<li><a href="#">Phasellus cursus nulla in condimentum</a></li>                                                
		  	</ul>
        </div>
    	<div class="cleaner"></div>
    </div>    
    
    <div id="templatemo_footer">
        Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
        <div class="cleaner"></div>
    </div>
	
</div>
<div class="cleaner"></div>    
</div>	
</div>
<!-- templatemo 272 christmas night -->
<!-- 
Christmas Night Template 
http://www.templatemo.com/preview/templatemo_272_christmas_night 
-->
</body>
</html>