<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Holiday - free CSS template</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />

<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

<div id="templatemo_top_wrapper">
	<div id="templatemo_top">
		<div id="templatemo_header">
            
            <div id="site_title"><h1><a href="#">Free CSS Templates</a></h1></div>
            
        </div> <!-- end of header -->
        <div id="templatemo_middle">
        	<div id="templatemo_menu">
                <ul>
                    <li><a href="#" class="current">Home</a></li>
                    <li><a href="#">Templates</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                
                <div id="search_box">
                    <form action="#" method="post">
                        <input type="text" value="Enter keyword here..." name="q" size="10" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                        <input type="submit" name="Search" value="" id="searchbutton" title="Search" />
                    </form>
                </div>
                <div class="cleaner"></div>
            </div> <!-- end of templatemo_menu -->
            
            <div id="mid_content">
            	<h2>Etharum quidem rerum</h2>
            	<p>Suspendisse vitae neque eget ante tristique vestibulum. Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci. Mauris convallis.</p>
            </div>
            
        </div> <!-- end of middle -->
	</div> <!-- end of top -->
</div> <!-- end of top wrapper -->

<div id="templatemo_main">
	
    <div class="col_w600 float_l">
    	<div class="content_box">
            <h2>HOLIDAY - Free CSS Template</h2>
            <div class="image_wrapper image_fl"><span></span>
                <img src="images/templatemo_image_01.jpg" alt="Image" />
            </div>
            <p>Holiday website layout is one of the clean and neat templates for everyone. <a href="#">templatemo</a> provides <a href="#">free css templates</a> for your personal or commercial websites. Validate <a href="http://validator.w3.org/check?uri=referer" rel="nofollow">XHTML</a> and <a href="http://jigsaw.w3.org/css-validator/check/referer" rel="nofollow">CSS</a>. Credit goes to <a href="http://www.photovaco.com" target="_blank">Free Photos</a> for photos used in this template. Vestibulum fermentum suscipit neque nec ornare. Ut nec urna egestas lorem pulvinar placerat eu sit amet nunc.</p>
<a href="#" class="more float_r"></a>
            <div class="cleaner"></div>
		</div>
        
        <div class="col_w260_l">
        	<h2>Special Package I</h2>
            <p>Suspendisse vitae neque eget ante tristique vestibulum. Pellentesque dolor nulla, congue vitae, fringilla in, varius a, orci.</p>
      <ul class="tmo_list">
            	<li><a href="#">Suspendisse feugiat</a></li>
              <li><a href="#">Utsodales libero ut odio</a></li>
              <li><a href="#">Maecenas venenatis metus</a></li>
		  </ul>
        </div>
        <div class="col_w260_r">
        	<h2>Special Package II</h2>
            <p>In hac habitasse platea dictumst. Fusce vitae dolor ut massa gravida. Sed semper purus quis est  hendrerit. <span class="news_box"> Duis dolor.</span></p>
<ul class="tmo_list">
            	<li><a href="#">Utsodales libero ut odio</a></li>
                <li><a href="#">Maecenas venenatis metus</a></li>
              <li><a href="#">Suspendisse feugiat</a></li>
		  </ul>
        </div>
        <div class="cleaner"></div>
    </div>
    
    <div class="col_w300 float_r">
    	<h2>Destinations</h2>
        <p class="news_box"><a href="#"><strong>Donec mollis aliquet ligula</strong></a><br />
        Maecenas adipiscing elementum ipsum vitae magna. Suspendisse a nibh tristique justo.</p>
      <p class="news_box"><a href="#"><strong> Donec accumsan urna non elit</strong></a><br />
      Suspendisse aliquam quam ac dolor venenatis eget cursus orci consequat. </p>
      <p class="news_box"><a href="#"><strong>Cum sociis natoque penatibus</strong></a> <br />
Proin dui mauris, tempor eget, pulvinar sed, pretium sit amet, dui. Proin vulputate justo et quam. </p>
      <p class="news_box"><a href="#"><strong>Nam aliquet dolor ac nisl luctus tempor</strong></a><br />
      Cras nisl eros, elementum eu, iaculis vitae, viverra ut, ligula. Pellentesque metus. Duis dolor. </p>
<div class="twit_rss">
        	<a href="#"><img src="images/templatemo_twitter.png" alt="Twitter" /></a>
            <a href="#"><img src="images/rss.png" alt="RSS" /></a>
        </div>
    </div>
    <div class="cleaner"></div>
</div> <!-- end of main -->

<div id="templatemo_footer_wrapper_01">
	<div id="templatemo_footer_wrapper_02">
    	<div id="templatemo_footer">
        	
            <div class="col_w225">
            	<h5>Contact</h5>
            	<div class="col_w225_content">
                    Tel: 010-020-0880<br />
                    Fax: 020-010-0660<br />
                    Email: info [at] yourcompany.com
				</div>
            </div>
            
            <div class="col_w225">
            	<h5>Privacy Policy</h5>
                <div class="col_w225_content"> Suspendisse at nisi nec diam pretium tincidunt.  Integer pellentesque dignissim diam. Quisque ornare pulvinar. </div>
          	</div>
          
            <div class="col_w225">
            	<h5>Partners</h5>
                <div class="col_w225_content">
                <ul class="tmo_footer_list">
                	<li><a href="#">Free CSS Templates</a></li>
                    <li><a href="#">Free Flash Templates</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Flash Websites</a></li>
                </ul>
                </div>
            </div>
            
            <div class="col_w225 col_last">
            	<h5>Copyright</h5>
                <div class="col_w225_content">
                  <div>Suspendisse at nisi nec diam pretium tincidunt. Ut vitae felis eu lectus ultrices varius. Vestibulum ultrices.<br />
                </div>
                </div>
            </div>
            
            <div class="cleaner h20"></div>
            
            <div align="center">
                Copyright © 2048 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com -->
            </div>
        </div>
    </div> <!-- end of footer wrapper -->
</div> <!-- end of footer wrapper 01 -->
<!-- templatemo 270 holiday -->
<!-- 
Holiday Template 
http://www.templatemo.com/preview/templatemo_270_holiday 
-->
</body>
</html>