<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Greeny Website Template, Download Free XHTML CSS Layout</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="templatemo_style.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript">
function clearText(field)
{
    if (field.defaultValue == field.value) field.value = '';
    else if (field.value == '') field.value = field.defaultValue;
}
</script>
</head>
<body>

	<div class="templatemo_container">
    	<div id="templatemo_header">
        	<div id="templatemo_menu">
				<ul>
					<li class="current"><a href="#" ><b>HOME</b></a></li>
      				<li><a href="#"><b>SERVICES</b></a></li>
   					<li><a href="#"><b>PRODUCTS</b></a></li>
                    <li><a href="#"><b>PARTNERS</b></a></li>	
   					<li><a href="#"><b>CONTACTS</b></a></li>	
				</ul>
			</div>
        </div>
        
        <div id="templatemo_news_section">
        	<div id="templatemo_news_area">
        	<h1>GREENY Website Template</h1>
            <p>This is a standard compliant XHTML CSS layout provided by <a href="#">TemplateMo</a> for free of charge. You may download, edit and apply thistemplate for your personal or commercial websites. Credit goes to <a href="http://www.photovaco.com" target="_blank">PhotoVaco </a>for  photos used in this template.</p>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. </p>
        	</div>
        </div>
        
        <div id="templatemo_project_section">
        	<h1>LATEST PROJECT</h1>
        	<div id="templatemo_section_area">
				<div class="templatemo_section_1">
                	<img src="images/templatemo_img_1.jpg" alt="butterfly" />
                	<p>Aliquam elit risus, volutpat quis, mattis ac, elementum eget, mauris. In hac habitasse platea dictumst. Aenean cursus. Maecenas aliquam, ligula id egestas suscipit, nisi sapien dignissim nibh, ac vestibulum lorem urna in neque.</p>
                </div>
                
          <div class="section_mid">
          <img src="images/templatemo_img_2.jpg" alt="leaf" />
                	<p>Aenean eget tortor eget ipsum aliquet porta. Vestibulum quis pede non urna venenatis vehicula. Praesent vel diam. Cras sed leo tempor neque placerat pretium. Curabitur nec odio. Phasellus tincidunt, tortor lacinia blandit.</p>                
                </div>
                
          <div class="section_mid">
          	<img src="images/templatemo_img_3.jpg" alt="food" />
                	<p>Sed ultrices. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur velit tellus, placerat et, dapibus varius, aliquet quis, purus. Aliquam sagittis molestie sapien. Nulla tellus risus, tincidunt vitae, sagittis vel, interdum at, erat.</p>
                
                </div>
                <div class="cleaner"></div>
                
			</div>
        </div>
        
        <div id="templatemo_project_section_bottom">       
       
        </div>
        
        <div id="templatemo_bottom_section">
       		<div class="templatemo_newsletter_section">
            	<div class="templatemo_newsletter_top">
                </div>
                <div class="templatemo_newsletter_mid">
                	<h1>Newsletter</h1>
                  <p>Enter your email address to subscribe our newsletter.</p>
                  <form action="#" method="post">
                <input type="text" value="Type Your Email" name="q" class="field"  title="email" onfocus="clearText(this)" onblur="clearText(this)" />
              <input type="submit" name="Search" value="Subscribe" alt="Search" class="button" title="Subscribe" />
            </form>
                    <p>Tel: 010-010-0100</p>
					<p>Fax: 020-020-0200</p>
					<p>Email: info@company.com</p>
                </div>
                <div class="templatemo_newsletter_bottom">
                </div>
			</div>
            
            <div id="templatemo_content_section">
            	<h1>current activities</h1>
                <p>Nulla enim nibh, consectetuer sed, vestibulum elementum, sagittis nec, diam. Mauris blandit vehicula neque. Proin consectetuer. Donec venenatis. Cras urna metus, feugiat non, consectetuer quis, pretium quis, nunc. Nullam pede purus, tempor a, imperdiet in, porttitor at, nulla. </p>

				<p>Vivamus a massa. Donec iaculis felis id neque. Morbi nunc. Praesent varius egestas velit. Donec a massa ut pede pulvinar vulputate. Nulla et augue. Sed eu nunc quis pede tristique suscipit. Nam sit amet justo vel libero tincidunt dignissim. </p>
                
                <ul>
                	<li><a href="#">Aliquam elit risus, Volutpat quis, mattis ac</a></li>
                    <li><a href="#">Elementum eget, mauris</a></li>
                    <li><a href="#">In hac habitasse platea dictumst</a></li>		
                    <li><a href="#">Phasellus tincidunt, tortor lacinia blandit</a></li>
				</ul>
            </div>
            <div class="cleaner"></div>
        </div>
        
        <div id="templatemo_footer">
        	Copyright © 2024 <a href="#">Your Company Name</a> <!-- Credit: www.templatemo.com --> | Validate <a href="http://validator.w3.org/check?uri=referer">XHTML</a> &amp; <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>        </div>
		
</div>
<!--  Free CSS Templates by TemplateMo.com  -->
<!-- templatemo 136 greeny -->
<!-- 
Greeny Template 
http://www.templatemo.com/preview/templatemo_136_greeny 
-->
</body>
</html>